<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#"><img src="images/logos.png" class="rounded" alt="Logo" width="60" height="40"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="fas fa-globe-americas">                                                
                    </i> INDICADORES ECONOMICOS</a>
            </li>
            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    <i class="fas fa-chart-bar"></i>
                    ANALISIS ENTORNO
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/entornoCultural"><i class="fas fa-file-alt"></i> Entorno Cultural</a>
                    <a class="dropdown-item" href="/entornoPoliticoLegal"><i class="fas fa-file-alt"></i> Entorno Politico y Legal</a>
                    <a class="dropdown-item" href="/EntornoTecnologicoGeoAmbiental"><i class="fas fa-file-alt"></i> Entorno Tecnologico y Geo Ambiental</a>
                    <a class="dropdown-item" href="/entornoComercioInternacional"><i class="fas fa-file-alt"></i> Entorno de Comercio Internacional</a>
                    <a class="dropdown-item" href="/entornoinversionExtranjera"><i class="fas fa-file-alt"></i> Entorno de inversión Extranjera</a>
                </div>
            </li>
            <!--<li class="nav-item">
          <a class="nav-link" href="#">ANALISIS ENTORNO</a>
        </li>-->
            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    <i class="fas fa-coffee"></i>
                    ST'FRANCIS CAFE
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/cafeOrganico"><i class="fas fa-coffee"></i> Café Organico</a>
                    <!--<a class="dropdown-item" href="#"></a>-->
                    <!--<a class="dropdown-item" href="#">Link 3</a>-->
                </div>
            </li>
            <li style="padding-left: 400px; " class="d-flex justify-content-end">
                <a class="nav-link " style="color: rgb(199, 135, 135);">
                    <i class="fas fa-globe-americas"></i>
                    <strong>ALDEA GLOBAL II</strong>
                </a>
            </li>
        </ul>
        
    </div>
</nav>