<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#"><img src="images/logos.png" class="rounded" alt="Logo" width="60" height="40"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="indicadores.html">INDICADORES ECONOMICOS</a>
            </li>
            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    ANALISIS ENTORNO
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/entornoCultural">Entorno Cultural</a>
                    <a class="dropdown-item" href="/entornoPoliticoLegal">Entorno Politico y Legal</a>
                    <a class="dropdown-item" href="/EntornoTecnologicoGeoAmbiental">Entorno Tecnologico y Geo Ambiental</a>
                    <a class="dropdown-item" href="/entornoComercioInternacional">Entorno de Comercio Internacional</a>
                    <a class="dropdown-item" href="/entornoinversionExtranjera">Entorno de inversión Extranjera</a>
                </div>
            </li>
            <!--<li class="nav-item">
          <a class="nav-link" href="#">ANALISIS ENTORNO</a>
        </li>-->
            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    ST'FRANCIS CAFE
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Café Organico</a>
                    <!--<a class="dropdown-item" href="#"></a>-->
                    <!--<a class="dropdown-item" href="#">Link 3</a>-->
                </div>
            </li>
        </ul>
    </div>
</nav>