<!DOCTYPE html>
<html lang="en">

<head>
    <title>Web site</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>
        .fakeimg {
            height: 200px;
            background: #aaa;
        }
    </style>
</head>

<body>

    <%- include('partials/head.ejs')%>

    <%- include('partials/nav.ejs')%>

    <p id="Inicio" class="container">
        La caficultura colombiana sigue siendo un sector de especial relevancia para la estabilidad económica y social
        del
        país. En este sentido, el presente trabajo documenta de manera breve la elección y de una organización que se
        dedica
        a dicha actividad en el mismo se desarrollan varios aspectos organizacionales enfocados a las empresa, y se
        enfoca
        la misma en la sostenibilidad económica, social y ambiental, que genere su producto, finalmente se desarrollan
        unas
        estrategias que se buscan implementar para tener una transformación productiva y llevar a la organización al
        ámbito
        de la internacionalización.
    </p>

    <div style="padding: 20px;">
        <table class=" table table-bordered">
            <tbody>
                <tr class="row">
                    <!-- 1  -->
                    <td class="col-md-4">
                        <strong>Nombre de la propuesta innovadora/empresa/reto</strong>
                    </td>
                    <td class="col-md-8"><strong>ST. FRANCIS’CAFE</strong></td>
                    <!-- 2  -->
                    <td class="col-md-4"><strong>Descripción de producto y/o servicio</strong></td>
                    <td class="col-md-8" ><strong >CAFÉ ORGÁNICO</strong> <br>
                        Este es el café que crece con estándares y técnicas de
                        agricultura orgánica libres de pesticidas,
                        herbicidas y fertilizantes químicos al promover la preservación del bosque, la reducción de la
                        erosión del suelo y un fuerte ecosistema, entre otras ventajas del hábitat natural.
                        El resultado de estos cultivos orgánicos es un café de excelente calidad que crea una
                        importancia
                        cada vez mayor para los consumidores conscientes del medio ambiente.
                        Manejamos una línea 170 familias caficultoras y se cultiva en diferentes zonas como los son:
                        Antioquia, Nariño, Huila, Cauca entre otras. Lo que nos permite proveer más de 20 variedades de
                        café. (FRANCIS'CAFE, SAINT, 2016)
                        <img class="rounded mx-auto d-block" width="400px" 
                            src="../../images/entornoComercioInternacional/cafeorganicoColombia.PNG" alt="">

                        </td>
                    <!-- 3  -->
                    <td class="col-md-4"><strong>Justificación de su selección</strong></td>
                    <td class="col-md-8">Se realiza un estudio de una pequeña variedad de empresas y finalmente se
                        decide
                        analizar la empresa postulada por un integrante del equipo que hace parte de la misma. Esta
                        empresa
                        de dedica especialmente a procesar café y debido a que la demanda del café se ha triplicado en
                        los
                        últimos años nos llamó la atención el estudio de esta organización.</td>
                    <!-- 4  -->
                    <td class="col-md-4"><strong>Fortalezas</strong></td>
                    <td class="col-md-8">
                        <ul>
                            <li>Estar en la capacidad de Abastecer la demanda de café Orgánico.</li>
                            <li>Fomentar la buena producción dando una mejor compensación a las familias caficultoras de
                            Colombia.</li>
                            <li>La recolección de café se hace durante todo el año.</li>
                            <li>Las condiciones climáticas de Colombia permite que sea el mayor productor de la variedad de
                            café.</li>
                            <li>Se promueve la idea de consumir más café orgánico que instantán.</li>
                        </ul>
                    </td>
                    <!-- 5  -->
                    <td class="col-md-4"><strong>Debilidades</strong></td>
                    <td class="col-md-8">
                        <ul>
                            <li>Se compite contra el contrabando de la importación de café.</li>
                            <li>Es un producto de fácil imitación pero se refleja una baja calidad.</li>
                            <li>Se evidencia una mala publicidad respecto a los componentes de cafeína que tiene el producto.</li>

                        </ul>  
                    </td>


                    <!-- 6  -->
                    <td class="col-md-4"><strong>Oportunidades</strong></td>
                    <td class="col-md-8">
                        <ul>
                            <li>Es un producto de fácil adquisición para cualquier nivel socioeconómico.</li>
                            <li>Es un producto con alta demanda de ventas.</li>
                            <li>Crecimiento exponencial de los coffesshop en la sociedad.</li>
                            <li>Es una empresa que se encuentra en la adquisición de un sello orgánico internacional.</li>
                            <li>Colombia tiene un escalafón donde califican su café como el más rico del mundo, la empresa
                            podria posicionar su marca internacionalmente destacando el origen del producto.</li>
                        </ul>

                    </td>

                    <!-- 7  -->
                    <td class="col-md-4"><strong>Amenazas</strong></td>
                    <td class="col-md-8">
                        <ul>
                            <li>Alta oferta de bebidas energizantes.</li>
                            <li>El aumento en la creación de nuevas marcas de café.</li>
                            <li>Los factores climáticos pueden afectar la cosecha, debido a que en temporadas de lluvia puede
                            tardar más la producción.</li>
                            <li>Probable contagio de Broca o Rolla que se conoce como las plagas que afectan los cultivos.</li>
                            <li>No se puede entrar fácilmente en un nuevo mercado internacional donde el producto no sea conocido o atractivo para ser aceptado en una cultura.</li>
                            <li>Debido a las nuevas tendencias de alimentación saludable puede disminuir la cantidad de demanda.</li>
                            <li>Debido al desconocimiento de los componentes, beneficios, efectos y/o marcas sepuede generar un mito de consumo.</li>
                        </ul>

                    </td>
                    <!-- 8  -->
                    <td class="col-md-4"><strong>Relación con dimensión económica</strong></td>
                    <td class="col-md-8">Los colombianos no podemos olvidar que el café ha sido uno de nuestros
                        productos de exportación más importantes. Su nivel de producción es tan alto que compromete a
                        590 municipios y los departamentos andinos del país. (Toro, 2013). Por ende ST FRANCIS’CAFÉ debe
                        pensar en tener una mayor cantidad de exportaciones para ayudar a disminuir el déficit comercial
                        del país y ayudara a generar ingresos para una porción muy importante de la población rural sino
                        que es trascendental para el sostenimiento de un tejido social. De acuerdo con estudios del
                        Banco de la República el efecto multiplicador de un incremento de 10% en el ingreso cafetero es
                        de 43pb sobre el PIB, aspecto fundamental pues, si lo comparamos con una situación similar en el
                        sector minero, el efecto apenas impactaría en 4pb el PIB total. Tal es el potencial jalonador
                        del crecimiento en el sector cafetero, que en 2014 cuando el PIB del sector agropecuario creció
                        en 3%, solamente el café contribuyó con el 56% de esa variació.
                    </td>
                    <!-- 9  -->
                    <td class="col-md-4"><strong>Relación con dimensión ambiental</strong></td>
                    <td class="col-md-8">
                        La Coordinadora Estatal de Comercio Justo publica la investigación “Café: La historia de un
                        éxito que esconde una crisis”, que concluye que el actual modelo de la industria del café no es
                        sostenible ni para el medio ambiente ni para quienes lo cultivan, que viven en la pobreza. Los
                        productores son los más vulnerables de la cadena y su capacidad de acción se ve superada por los
                        efectos del cambio climático.

                        Es necesario frenar la erosión de los suelos y la deforestación, para garantizar la
                        sostenibilidad de los cultivos de café y sobre todo, para proteger el medio ambiente, ya que son
                        dos problemas actuales derivados del consumo del café. (Diario Responsable, 2015)
                    </td>
                    <!-- 10  -->
                    <td class="col-md-4"><strong>Relación con dimensión social</strong></td>
                    <td class="col-md-8">
                        El café es considerado como bebida beneficiosa, ya que posee cualidades estimulantes y se
                        considera que no tiene efectos negativos sobre la mente humana. Hacer pausas para el café en la
                        oficina se ha convertido en una regla de oro y una buena tradición entre los trabajadores.
                        La organización ST´FRANCIS actualmente cuenta con 32 empleos directos y 15 indirectos, la
                        empresa se encuentra internacionalizada en 7 países mas, si se logran mas expansiones, los
                        empleos irían incrementando gradualmente.
                        La producción o cultivo de café da grandes oportunidades de empleo, En la zona cafetera del
                        centro de Colombia a familias campesinas, algunas de ellas desplazadas por la violencia del
                        conflicto armado, se cree que no se necesita tener una carrera profesional para adquirir este
                        empleo, solo es necesario asesorar en las técnicas de cultivo que ayuden a aumentar el
                        rendimiento de los cafetales y contribuir a la mejora de sus condiciones de vida. (EL TIEMPO,
                        2016)
                    </td>
                    <!-- 11  -->
                    <td class="col-md-4"><strong>Viabilidad de internacionalización</strong></td>
                    <td class="col-md-8">
                        Identificamos mediante análisis que nuestro producto elegido “café orgánico” posee una gran
                        influencia en mercados internacionales no solo por ser de consumo masivo mundial y estar en la
                        bolsa de valores sino también porque la tendencia de este origen natural se ha convertido en
                        algo de compra diaria y de este parten propuestas de productos que generan un comercio de miles
                        de millones al año y más aún que se generó mayor conciencia para que los productores sean mejor
                        compensados económicamente, se puede evidenciar que pese a caídas en el precio está en
                        crecimiento ya que según estudios, “El consumo mundial de café alcanzó los 163.9 millones de
                        sacos en 2018-2019, aumentando un 2.8% actualmente”. (Clavijo, 2019)
                    </td>
                    <!-- 12  -->
                    <td class="col-md-4"><strong>Objetivo de internacionalización</strong></td>
                    <td class="col-md-8">
                        Las empresas familiares como ST. FRANCIS’ CAFÉ para incursionar en los mercados internacionales
                        de cara a las condiciones de un mercado globalizado y cada vez más competitivo, teniendo en
                        cuenta la importancia de este tipo de compañías para la economía colombiana tiene como objetivo
                        superar el 20% del total de participación que suman las pequeñas empresas en el mercado externo,
                        incrementar las utilidades en mercados internacionales para tener habilidad en diferenciar sus
                        productos para satisfacer necesidad, gustos y preferencias de los consumidores, Alcanzar la
                        mayor exportación posible con el avanzar de los años, logrando así mantener los niveles o
                        superándolos. La empresa ha logrado introducirse al mercado de China, Uruguay, Holanda, España,
                        Bélgica, Alemania y Estados Unidos; entre los países que más importan café se encuentran Italia,
                        Japón, Francia, entre otros; se pretende poder añadir a la lista de países por lo menos 2 más de
                        los mencionados anteriormente con el fin de lograr expansión en el próximo año, esto podría ser
                        posible, ya que se cuenta con el mayor importador de café del mundo en el momento que es Estados
                        Unidos.(Infocafe.es, 2013)
                        <hr>
                    <img class="rounded mx-auto d-block" width="400px"
                        src="../../images/entornoComercioInternacional/mercadoscafe.PNG" alt="">
                    <img class="rounded mx-auto d-block" width="400px"
                        src="../../images/entornoComercioInternacional/exportacioncafeColombia.PNG" alt="">
                    <img class="rounded mx-auto d-block" width="400px"
                        src="../../images/entornoComercioInternacional/exportacionCafe.PNG" alt="">
                    <img class="rounded mx-auto d-block" width="400px"
                        src="../../images/entornoComercioInternacional/cafeNacionalColombia.PNG" alt="">
                       
                    </td>
                    

                </tr>
            </tbody>
        </table>
        <div class="card-footer text-muted">
            <a href="#Inicio" class="btn btn-primary btn-block">Regresar</a>
        </div>
    </div>           
</body>