<!DOCTYPE html>
<html lang="en">

<head>
    <title>Web site</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>
        .fakeimg {
            height: 200px;
            background: #aaa;
        }
    </style>
</head>

<body>

    <div class="jumbotron text-center" style="margin-bottom:0">
        <h1 id="Inicio">ALDEA GLOBAL II</h1>
        <p>Entorno de Comercio Internacional</p>
    </div>

    <%- include('partials/nav.ejs')%>

    <hr>
    La caficultura colombiana sigue siendo un sector de especial relevancia para la estabilidad económica y social del
    país. En este sentido, el presente trabajo documenta de manera breve la elección y de una organización que se dedica
    a dicha actividad en el mismo se desarrollan varios aspectos organizacionales enfocados a las empresa, y se enfoca
    la misma en la sostenibilidad económica, social y ambiental, que genere su producto, finalmente se desarrollan unas
    estrategias que se buscan implementar para tener una transformación productiva y llevar a la organización al ámbito
    de la internacionalización.
    <hr>

    <div class="row">

        <!--
    Guatemala
-->
        <div class="card text-center col-md-4">
            <div class="card-body">

                <p class="card-text d-flex justify-content-start">
                    <hr>
                    <strong>Nombre de la propuesta innovadora/empresa/reto</strong>
                    <hr>
                    <strong>Descripción de producto y/o servicio</strong>
                    <hr>
                    <strong>Justificación de su selección</strong>
                    <hr>
                    <strong>PRESENTACIÓN DE DATOS O INDICADORES</strong>
                    <hr>
                    <strong>ANÁLISIS Y ARGUMENTACIÓN</strong>
                    <hr>
                    <strong>Fortalezas</strong>
                    <hr>
                    <strong>Debilidades</strong>
                    <hr>
                    <strong>Oportunidades</strong>
                    <hr>
                    <strong>Amenazas</strong>

                </p>
            </div>
            <div class="card-footer text-muted">
                <a href="#Inicio" class="btn btn-primary btn-block">Regresar</a>
            </div>
        </div>

        <div class="card text-center col-md-8">
            <div class="card-body">
                <p class="card-text d-flex justify-content-start">

                    <strong>ST. FRANCIS’CAFE</strong>
                    <hr>
                    <strong>CAFÉ ORGANICO</strong>
                    <hr>
                    Este es el café que crece con estándares y técnicas de agricultura orgánica libres de pesticidas,
                    herbicidas y fertilizantes químicos al promover la preservación del bosque, la reducción de la
                    erosión del suelo y un fuerte ecosistema, entre otras ventajas del hábitat natural.
                    El resultado de estos cultivos orgánicos es un café de excelente calidad que crea una importancia
                    cada vez mayor para los consumidores conscientes del medio ambiente.
                    Manejamos una línea 170 familias caficultoras y se cultiva en diferentes zonas como los son:
                    Antioquia, Nariño, Huila, Cauca entre otras. Lo que nos permite proveer más de 20 variedades de
                    café. (FRANCIS'CAFE, SAINT, 2016)

                    Ilustración 1 Café Orgánico (FRANCIS'CAFE, SAINT, 2016)

                    <hr>
                    <strong>EVOLUCIÓN DE LA BALANZA COMERCIAL con PAÍS 1</strong>
                <h6>GRÁFICAS O TABLAS</h6>
                <img class="rounded mx-auto d-block" width="300px"
                    src="../../images/entornoComercioInternacional/balanzaGuatemala.PNG" alt="">
                <hr>
                <strong>PRESENTACIÓN DE DATOS O INDICADORES</strong>
                <hr>
                En el 2019 Guatemala registró un déficit en su balanza comercial de un 11,38 de su PIB superior al 2018
                con un 9,78% del PIB.
                Pero Guatemala en los últimos años el déficit se ha incrementado tal como en el 2009 que fue de un 17,4%
                de su PIB.
                <hr>
                <strong>ANÁLISIS Y ARGUMENTACIÓN</strong>
                <hr>
                En cuanto a Guatemala, si Colombia le exporta el café de ST’FRANCIS le haríamos un daño tanto a nosotros
                como empresa como a ellos como país debido a que ellos primero deben aumentar sus exportaciones para que
                los productos no suban de precios y así evitar una presión inflacionaria, pero esto puede variar ya que
                es un comportamiento indefinido ya que como puede bajar las exportaciones en cualquier momento pueden
                volver a subir.
                <hr>
                <strong>ACUERDOS COMERCIALES VIGENTES</strong>
                <h6>GRÁFICAS O TABLAS</h6>

                <hr>
                <img class="rounded mx-auto d-block" width="300px"
                    src="../../images/entornoComercioInternacional/acuerdosGuatemala.PNG" alt="">
                <img class="rounded mx-auto d-block" width="300px"
                    src="../../images/entornoComercioInternacional/acuerdosGuatemala1.PNG" alt="">
                <hr>
                Guatemala es un país que registra un déficit comercial creciente, con exportaciones cercanas a US $11mil
                millones en 2017 e importaciones por US$18,3 mil millones. En el comercio de servicios también tiende al
                déficit, comparado con el tamaño de su economía, la relación de comercio exterior en el PIB es alta y en
                2017 cercana a 45,7% y registra un superávit de 1.5% del PIB.
                Colombia y los países del triángulo Norte de Centroamérica en el que se encuentra Guatemala iniciaron
                negociaciones para firmar un tratado de libre comercio que les permitiera a los cuatro países miembros
                mejorar las condiciones y hacer posible el acceso a sus mercados, aprovechar todo lo que complementaba
                sus economías y promover las inversiones mutuas. El 75% del sector industrial está cobijado en este
                tratado el cual permite el acceso para productos intermedios y materias primas industriales de origen
                colombiano a los países centroamericanos. El tema más sensible del tratado fue el agro, en este caso el
                72% de los productos agrícolas tendrán acceso preferencial en el tratado según los periodos de
                desgravación acordados para cada producto.
                <hr>
                <strong>ANÁLISIS Y ARGUMENTACIÓN</strong>
                <hr>
                ST´FRANCIS CAFË está directamente relacionado con este indicador de manera positiva, ya que el tratado
                induce a que sea un mercado propicio para que las PYMES inicien su proceso de internacionalización, así
                también sus barreras no arancelarias del mercado centroamericano no son tan rígidas como las de los
                países europeos o el territorio estadounidense; permite que haya una relación comercial sólida y así
                muchas empresas y productos colombianos como ST´FRANCIS CAFÉ ingresen y se mantengan dentro del mercado
                centroamericano.
                </p>

            </div>
            <div class="card-footer text-muted">
                <a href="#Inicio" class="btn btn-primary btn-block">Regresar</a>
            </div>
        </div>
    </div>
</body>