<!DOCTYPE html>
<html lang="en">

<head>
    <title>Web site</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>
        .fakeimg {
            height: 200px;
            background: #aaa;
        }
    </style>
</head>

<body>


    <div class="jumbotron text-center" style="margin-bottom:0">
        <h1 id="Inicio">ALDEA GLOBAL II</h1>
        <p>Entorno de inversión Extranjera</p>
    </div>

    <%- include('partials/nav.ejs')%>

    <div class="row">

        <!--
    Guatemala
-->
        <div class="card text-center col-md">
            <div class="card-header">
                <img class="rounded mx-auto d-block" width="280px" src="../../images/escudoGuatemala.png" alt="">
            </div>
            <div class="card-body">

                <strong>FLUJOS DE INVERSIÓN CON PAÍS 1</strong>
                <h6>GRÁFICAS O TABLAS</h6>
                <p class="card-text d-flex justify-content-start">
                    <img class="rounded mx-auto d-block" width="300px"
                        src="../../images/entornoComercioInternacional/graficaGuatemala.PNG" alt="">
                    <hr>
                    <strong>PRESENTACIÓN DE DATOS O INDICADORES</strong>
                    <hr>
                    Según las estadísticas obtenidas desde el banco de la república, Guatemala para el año 2018 tuvo un
                    descenso de inversiones con Colombia de 17,4 millones de dólares, pero para el 2019 tiene un ascenso
                    34,9 millones de dólares, superando inclusive las cifras obtenidas para el año 2017.
                    <hr>
                    <strong>ANÁLISIS Y ARGUMENTACIÓN</strong>
                    <hr>
                    Para la organización ST’FRANCIS, esta fluctuación que ha presentado Guatemala con respecto a las
                    inversiones realizadas en Colombia, podría presentar ciertos obstáculos para poder hacer expansión
                    en dicho país, ya que con la actual pandemia del COVID 19, estas inversiones se podrían ver
                    afectadas y posiblemente con tendencia a la baja para el año 2020-2021.
                    Para el año 2018 los mandatarios de Colombia y Guatemala se reúnen con el fin de dar por terminada
                    la negociación de un número importante de capítulos del Tratado de Libre Comercio entre ambas
                    naciones, lo que profundizará las relaciones comerciales.

                    <hr>
                    <strong>PRINCIPALES SECTORES DE INVERSIÓN</strong>
                <h6>GRÁFICAS O TABLAS</h6>
                <img class="rounded mx-auto d-block" width="300px"
                    src="../../images/entornoComercioInternacional/inversionGuatemala.PNG" alt="">
                <hr>
                <strong>PRESENTACIÓN DE DATOS O INDICADORES</strong>
                <hr>
                Los principales sectores de inversión para Guatemala en cuanto a la economía son: Sector primaria,
                sector agrícola tradicional, sector agrícola no tradicional, industria forestal entre otros, ahora bien
                si nos centramos en el sector agrícola tradicional podríamos traer el Café: La producción de café ha
                experimentado importantes cambios en los últimos años. El sector 5 mejoró ligeramente su productividad
                gracias a una mayor tecnificación del cultivo y los mayores niveles de fertilización por lo que llegó a
                ser la principal actividad económica del país. Guatemala crece actualmente su Inversión extranjera crece
                al 6% de enero a septiembre de 2019 el país recibió $671 millones por concepto de inversión extranjera
                directa, superando en 6% a lo reportado en igual período de 2018. Cifras del Banco de Guatemala detallan
                que entre los primeros nueve meses de 2018 y el mismo lapso de 2019, la inversión extranjera directa
                (IED) que llegó al país aumentó en $39 millones, al pasar de $671 millones a $632 millones.
                <hr>
                <strong>ANÁLISIS Y ARGUMENTACIÓN</strong>
                <hr>
                PROCOLOMBIA identificó los empresarios que están buscando inversión extranjera directa que les permita a
                los países complementar la oferta disponible. Por ejemplo, en esto entraría Guatemala como país que
                busca una expansión pero se debe tener presente que los potenciales inversionistas son de Corea del Sur
                pero la entidad ha logrado contemplar la oportunidad de conciliar con otros países y uno de ellos es
                Colombia, igualmente se nota una mayor inversión por parte de Perú, además de que el café en algún
                momento fue la principal actividad económica de Guatemala la entrada a este país en busca de producción
                y comercialización del mismo se torna en una gran amenaza para el mismo.

                <hr>
                <strong>INCENTIVOS A LA INVERSIÓN</strong>
                <h6>GRÁFICAS O TABLAS</h6>
                <hr>
                <img class="rounded mx-auto d-block" width="300px"
                    src="../../images/entornoComercioInternacional/incentivosGuatemala.PNG" alt="">
                <hr>
                <strong>PRESENTACIÓN DE DATOS O INDICADORES</strong>
                <hr>
                En la gráfica evidenciamos que el sector de manufactura es el que más aporta al PIB del país seguido del
                comercio, actividades agrícolas y servicios privados, sumados estos cuatro sectores contribuyen a más
                del 60% del total de producción del país. Guatemala se ve favorecido por su ubicación geográfica que se
                encuentra en un sitio estratégico cercano a uno de los más grandes mercados del mundo que es Estados
                Unidos, también gracias a su posición geográfica tiene conexiones directas hacia diferentes destinos
                como los principales puertos de Europa,,Sudamerica y Asia. Por su riqueza natural ofrece diversas
                oportunidades de inversión en sectores como turismo, agroindustria, manufacturas livianas, vestuario y
                textiles, algunos de los sectores potenciales para el crecimiento económico incluyente y sostenible.
                Tiene una amplia economía diversificada con una industria fortalecida y un puntaje sector de servicios
                como presenta la gráfica.
                Invertir en Guatemala también ofrece incentivos fiscales a la inversión extranjera en Guatemala como a
                nacionales debido a leyes que facilitan el
                Hacer negocios, permitiendo la libre negociación de divisas y que se permite a los inversionistas
                extranjeros participar en igualdad de condiciones que los nacionales, algunas de estas son: 100% de
                exoneración de los derechos arancelarios y cargos aplicables a la importación de maquinaria, equipo,
                materia prima entre otros; 100% de exoneración del impuesto sobre la renta -ISr-10 años; 100% de
                exoneración del Impuesto al Valor Agregado-IVA; y 100% de exoneración del Impuesto Único Sobre Inmuebles
                –ISUI-para las entidades administradoras de zonas francas. (paraisosfiscales,2020)
                <hr>
                <strong>ANÁLISIS Y ARGUMENTACIÓN</strong>
                <hr>
                Uno de los factores que inciden directamente a este indicador y favorecen a la empresa es que dentro de
                los estándares permitidos por la OMC, en el país se permite registrar una empresa en cualquier sitio del
                país bajo un régimen especial de exportador que le permite operar como zona libre de comercio dentro de
                sus instalaciones, osea que el gobierno radica en un total apoyo a las inversiones extranjeras directas
                para hacer crecer al país y otorgando un gran beneficio financiero, de comercio internacional y de
                expansión de la marca a la empresa. También tenemos una diversidad comercial, con sectores atractivos
                para la venta de nuestro café, fácil adaptación al mercado y posicionamiento de marca, hay una gran
                población joven capacitada para promover el producto y diferentes opciones positivas para incursionar
                siendo competitivos.
                </p>


            </div>
            <div class="card-footer text-muted">
                <a href="#Inicio" class="btn btn-primary btn-block">Regresar</a>
            </div>
        </div>

        <div class="card text-center col-md">
            <div class="card-header">
                <img class="rounded mx-auto d-block" width="240px"
                    src="../../images/escudoPeru.png" alt="">
            </div>
            <div class="card-body">


                <strong>INDICADOR DE DESEMPEÑO LOGISTICO</strong>
                <h6>GRÁFICAS O TABLAS</h6>
                <p class="card-text d-flex justify-content-start">
                    <img class="rounded mx-auto d-block" width="300px"
                        src="../../images/entornoComercioInternacional/graficalogisticaPeru.PNG" alt="">
                    <hr>
                    <strong>PRESENTACIÓN DE DATOS O INDICADORES</strong>
                    <hr>
                    Con Perú para los dos últimos años, el LPI internacional comparó 160, como inputs de la cadena
                    logística
                    en general; y desempeño de la cadena de proveedores (puntualidad de entrega, rastreo y seguimiento,
                    y
                    facilidad para realizar envíos internacionales a precios competitivos). Alcanzar mayor eficiencia en
                    la
                    primera categoría es importante, en la medida que son estos los indicadores que definen directamente
                    en
                    el desempeño de toda la cadena logística.
                    <hr>
                    <strong>ANÁLISIS Y ARGUMENTACIÓN</strong>
                    <hr>
                    En este sentido Perú se corresponde con un mejor servicio logístico a comparación de Guatemala y más
                    aún
                    que es un vecino con Colombia se podría crear un corredor de negocios muy interesante que permita
                    una
                    agilidad mayor en los envíos para nuestro café. y a pesar de que Perú no está dentro de los 10
                    países
                    con mejor desempeño logístico continua teniendo una gran calificación que contribuye de muy buena
                    manera
                    a la elección de expansión de ST`FRANCIS en este, debido a que la distribución del producto se
                    notaría
                    mucho más eficaz gracias a la eficacia con la que cuenta el país para esta variable, y es cierto que
                    la
                    producción del producto no se podría hacer en una zona muy central entonces sería muy conveniente
                    contar
                    con un buen canal de distribución.
                    <hr>
                    <strong>EVOLUCIÓN DE LA BALANZA COMERCIAL con PAÍS 2</strong>
                <h6>GRÁFICAS O TABLAS</h6>
                <img class="rounded mx-auto d-block" width="400px"
                    src="../../images/entornoComercioInternacional/balanzaPeru.PNG" alt="">
                <hr>
                <strong>PRESENTACIÓN DE DATOS O INDICADORES</strong>
                <hr>
                En Colombia se registró un déficit en la balanza comercial de 4,09% de su PIB superior al 2018 que fue
                2.86 del PIB.
                En Perú se registró un superávit en la balanza comercial de un 2,58% de su PIB inferior al superávit de
                2018 el 2,59 del PIB.

                <hr>
                <strong>ANÁLISIS Y ARGUMENTACIÓN</strong>
                <hr>
                Perú a comparación de Colombia esta mejor en su balanza económica debido a que alcanzó un superávit, y
                aunque sus importaciones subieron no superaron las exportaciones, por su parte Colombia ha ido
                desmejorando en comparación de años pasados como en el 2009 que tuvo un déficit.
                A Colombia le beneficia que ST’FRANCIS exporte su café, ya que así empezará a mejorar su balanza
                económica debido a que como es un producto tan natural y escaso de conseguir Perú entrará en un
                equilibrio donde mientras nosotros le exportamos y ellos exportan otros recursos a diferentes países y
                se daría ya una buena balanza comercial para ambos países.
                <hr>
                <strong>ACUERDOS COMERCIALES VIGENTES</strong>
                <h6>GRÁFICAS O TABLAS</h6>
                <hr>
                <img class="rounded mx-auto d-block" width="300px"
                    src="../../images/entornoComercioInternacional/acuerdosPeru.PNG" alt="">
                <img class="rounded mx-auto d-block" width="300px"
                    src="../../images/entornoComercioInternacional/acuerdosPeru1.PNG" alt="">
                <hr>
                <strong>PRESENTACIÓN DE DATOS O INDICADORES</strong>
                <hr>
                El acuerdo es un camino para mayores tasas de crecimiento, tuvo impacto para la llegada de nuevas
                inversiones, generación de empleos calificados y aumento de la cooperación para mejorar la
                competitividad de varios sectores productivos. En los últimos 10 años la unión europea aporto el 38% de
                las exportaciones mundiales de mercancías y el 37% de las importaciones en servicios, el 45% de las
                exportaciones globales, y el 42% de las importaciones, en flujos de exportación de capitales 48% del
                total. Este resultado se aprecia en la gráfica donde al pasar los años la UE sigue siendo el puntaje más
                alto y el desempeño notable en los últimos años en las exportaciones Colombianas seguido de estados
                unidos, es un acuerdo con gran importancia para Colombia ya que se puede lograr una relación
                preferencial y permanente con un actor clave en la economía mundial, ya que se considera como el primer
                exportador e importador mundial de bienes con cifras estimadas de US$2.349.849 millones como también
                ocupa el primer lugar en el mundo en compra y venta de servicios comerciales con montos de $US784.286 y
                US$ 644.360 millones en su orden.
                <hr>
                <strong>ANÁLISIS Y ARGUMENTACIÓN</strong>
                <hr>
                Una de sus ventajas más privilegiadas es que dentro de los productos que se encuentran en su sector
                principal de exportación es el café obteniendo una probabilidad alta de potenciar ventas en el país así
                mismo nos favorece en la reducción y eliminación de aranceles y barreras no arancelarias a las
                exportaciones de nuestro país, para que así se hagan más competitivos nuestros productos ya que incluyen
                los sectores industriales y agrícolas. Podemos utilizar estrategias de menores precios y mejores
                opciones de servicios en el primer mercado mundial y encaminar una internacionalización segura y
                constante.
                </p>

            </div>
            <div class="card-footer text-muted">
                <a href="#Inicio" class="btn btn-primary btn-block">Regresar</a>
            </div>
        </div>
    </div>


    <!--div class="jumbotron text-center" style="margin-bottom:0">
        <h4>CONCLUSIONES</h4>
        <br>
        <p>
          
        </p>
    </div-->

</body>

</html>