<!DOCTYPE html>
<html lang="en">

<head>
    <title>Web site</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>
        .fakeimg {
            height: 200px;
            background: #aaa;
        }
    </style>
</head>

<body>


    <div class="jumbotron text-center" style="margin-bottom:0">
        <h1 id="Inicio">ALDEA GLOBAL II</h1>
        <p>Entorno Tecnologico y Geo Ambiental</p>
    </div>

    <%- include('partials/nav.ejs')%>

    <div class="row">

        <!--
    Guatemala
-->
        <div class="card text-center col-md">
            <div class="card-header">
                <img class="rounded mx-auto d-block" width="280px" src="../../images/banderaGuatemala.jpg" alt="">
            </div>
            <div class="card-body">

                <strong>USUARIOS DE INTERNET</strong>
                <h6>GRÁFICAS O TABLAS</h6>
                <img class="rounded mx-auto d-block" width="300px" src="../../images/poblacionInternet.PNG" alt="">
                <hr>
                <strong>PRESENTACIÓN DE DATOS O INDICADORES</strong>
                <hr>
                Esta variable proporciona el número total de personas dentro de un país que pueden acceder a Internet en
                casa, a través de cualquier tipo de dispositivo (computadora o móvil) y conexión. En Guatemala, un total
                de 5,241,952 de personas son las que cuentan al momento con acceso internet, siendo en este caso el 65%
                de la población para el año 2018, este se encuentra en la posición número 74 a nivel mundial.
                El porcentaje de población con acceso a Internet (es decir, la tasa de penetración) ayuda a evaluar qué
                tan extendido es el uso de Internet dentro de un país. Las estadísticas varían de un país a otro y
                pueden incluir usuarios que acceden a Internet al menos varias veces por semana a quienes acceden a ella
                solo una vez dentro de un período de varios meses.
                <hr>
                <strong>ANÁLISIS Y ARGUMENTACIÓN</strong>
                <hr>
                Guatemala es el país con más usuarios de internet en Centroamérica, se realizó un estudio llamado
                “Perspectivas Digitales, Centroamérica y el Caribe: Un Oasis de Oportunidades en el Mundo Digital”, en
                el cual se muestra el panorama general de la región en cuanto al manejo de redes digitales, este estudio
                se debe a que Centroamérica se está penetrando rápidamente en cuanto a otras regiones más desarrolladas
                en el acceso a internet.
                Eso es algo positivo tanto para ST’FRANCIS como para el país dado que hay varios estudios que demuestran
                que cuando las personas tienen acceso a internet, esto se convierte en un diferencial para salir de la
                pobreza, generar formación, oportunidades, capital social, entre otros.

                <hr>
                <strong>Indicadores geográficos</strong>
                <h6>GRÁFICAS O TABLAS</h6>
                <img class="rounded mx-auto d-block" width="300px" src="../../images/geograficaGuatemala.PNG" alt="">
                <hr>
                <strong>PRESENTACIÓN DE DATOS O INDICADORES</strong>
                <hr>
                Guatemala es un país que está ubicado a 2097 km de distancia a Guatemala, un país relativamente cercano
                a Colombia.
                Guatemala posee un total de 291 (2013) de aeropuertos, donde el transporte aéreo de carga tiene la
                facilidad de control y seguimiento de la exportación, buena seguridad
                , reservas de espacio, facilidad de transbordo, por lo cual también es posible recorrer largas
                distancias en poco tiempo.
                Las pistas de los aeropuertos en Guatemala son, 16 con pistas pavimentadas y 275 en el año 2013
                aeropuertos con pistas sin pavimentar.
                Cuentan con una vía fluvial de 990 km donde 260 km son navegables durante todo el año y 730 km son
                navegables durante las temporadas aguas altas.
                <hr>
                <strong>ANÁLISIS Y ARGUMENTACIÓN</strong>
                <hr>
                Para ST’FRANCIS es importante analizar el territorio que tiene Guatemala, la distancia entre ambos
                países debe ser importante para que así la exportación genere ganancias, Guatemala es un país donde
                tiene tanto transportes aéreos como transporte marítimo, ambos contando con grandes posibilidades para
                la exportación.
                En los vuelos se tiene una alta seguridad en cuanto a que el producto llegue en buen estado, otra
                ventaja es que tienen una agilidad en la tramitación administrativa.
                Sería beneficioso que ST’FRANCIS exporte café a Guatemala ya que cuenta con varias alternativas de
                exportación, lo que tendríamos que pensar es que un en contra es que piden un límite de peso y volumen
                para la mercancía lo cual se tendría que hacer exportaciones de manera “frecuente”, otro aspecto
                negativo es que estas exportaciones tiene un alto costo lo cual nosotros como empresas tendríamos que
                hacer un balanza general de los gastos que se están generando para este proceso.
                <hr>
                <strong>ACCESO A TECNOLOGIA</strong>
                <h6>GRÁFICAS O TABLAS</h6>
                <strong>USUARIOS DE INTERNET</strong>
                <hr>
                <img class="rounded mx-auto d-block" width="300px" src="../../images/usuariosInternet1.PNG" alt="">
                <hr>
                <strong>PRESENTACIÓN DE DATOS O INDICADORES</strong>
                <hr>
                Red centrada en la ciudad de Guatemala; Una de las teledensidades más bajas de la región, especialmente
                en el país, las áreas rurales no tienen acceso de línea fija, por lo que los servicios móviles se
                adoptaron según sea necesario; La empresa estatal de telecomunicaciones privatizada a fines de la década
                de 1990 abrió el camino a la competencia; mejora continua de la línea fija que también ha estimulado el
                crecimiento de la telefonía móvil y la banda ancha; El marco regulatorio abierto junto con la
                competencia y los mayores ingresos familiares disponibles estimulan el crecimiento (2020).
                4 canales de televisión terrestre nacionales de propiedad privada dominan la transmisión de televisión;
                servicios de cable y satélite multicanal disponibles; 1 estación de radio propiedad del gobierno y
                cientos de estaciones de radio de propiedad privada (2019)
                Según el periódico En 2018, Guatemala ocupó el primer país en Centroamérica con más usuarios de
                Internet, al reportar 7.2 millones –6.8 millones son Internet móvil–, según datos de Google. Pero es el
                quinto en penetración en Internet móvil, ya que tiene el 42 por ciento de Internet. Lo supera Costa
                Rica, con el 87 por ciento.
                <hr>
                <strong>ANÁLISIS Y ARGUMENTACIÓN</strong>
                <hr>
                Según su ubicación del estudio de usuarios con acceso a internet, Guatemala no es la cuidad más
                informada pero tampoco está muy por debajo, aparentemente la zona rural es la que menos cuenta con
                usuarios o con personas que tengas líneas activas de celulares, pues no es para nada balanceado este
                acceso ya que en las zonas urbanas dentro de una vivienda casi que todos pueden contar con un teléfono
                móvil y en la zonas rurales es muy poco el porcentaje de personas que cuentan con uno. Si ST’FRANCIS
                quisiera incursionar en este país tendría que buscar inicialmente darse a conocer en la población
                ruralista ya que seria las personas principalmente implicadas en la ayuda del progreso de la
                organización ya que contribuirían con el principal paso de producción para la comercialización de su
                producto, para ST’FRANCIS el tema del poco conocimiento en internet para la zona rural se convierte en
                una debilidad ya que tendría que orientar esta población en este tema para que posteriormente sean ellos
                mismos quienes se puedan comunicar con el comercio de la urbanización y ayuden a potencializar el
                producto.
                Ademas de que el tema del manejo de maquinaria para esta industria seria mucho más complicado.

                <hr>
                </p>


            </div>
            <div class="card-footer text-muted">
                <a href="#Inicio" class="btn btn-primary btn-block">Regresar</a>
            </div>
        </div>

        <div class="card text-center col-md">
            <div class="card-header">
                <img class="rounded mx-auto d-block" width="240px" src="../../images/banderaPeru.png" alt="">
            </div>
            <div class="card-body">


                <strong>USUARIOS DE INTERNET</strong>
                <h6>GRÁFICAS O TABLAS</h6>
                <img class="rounded mx-auto d-block" width="300px" src="../../images/graficapoblacion.PNG" alt="">
                <hr>
                <strong>PRESENTACIÓN DE DATOS O INDICADORES</strong>
                <hr>
                Según datos obtenidos de la página web de la CIA, Perú se encuentra en la posición número 43 de 266 a
                nivel mundial, esta variable proporciona el número total de personas dentro de un país que pueden
                acceder a Internet en casa, a través de cualquier tipo de dispositivo (computadora o móvil) y conexión.
                En Perú, un total de 13,975,422 de personas son las que cuentan al momento con acceso internet, siendo
                en este caso el 45.5% de la población.
                El porcentaje de población con acceso a Internet (es decir, la tasa de penetración) ayuda a evaluar qué
                tan extendido es el uso de Internet dentro de un país. Las estadísticas varían de un país a otro y
                pueden incluir usuarios que acceden a Internet al menos varias veces por semana a quienes acceden a ella
                solo una vez dentro de un período de varios meses.
                <hr>
                <strong>ANÁLISIS Y ARGUMENTACIÓN</strong>
                <hr>
                Perú tiene un aproximado de 14 millones de usuarios con acceso a internet, de una población aproximada
                de 31,914,989 millones de habitantes, significa que casi el 40% de peruanos no pueden acceder a
                Internet, lo que conforma una Brecha Digital bastante significativa. Para la organización ST’FRANCIS se
                podría tornar complejo, ya que es importante que las personas que se encuentran a distancia puedan tener
                conocimiento de la labor que se desempeña dentro de la empresa, conociendo así un poco más sus
                productos, representantes de ventas, beneficios del café, entre otros.
                Perú debería implementar un plan digital que permita la innovación y dar el soporte necesario a los
                diversos sectores productivos, facilitando y haciendo más moderna y accesible los distintos servicios
                que se requieren del estado para impulsar sus sectores o incluir unos nuevos dentro de su mercado.
                <hr>
                <strong>Indicadores geográficos</strong>
                <h6>GRÁFICAS O TABLAS</h6>
                <img class="rounded mx-auto d-block" width="400px" src="../../images/geografiaPeru.PNG" alt="">
                <hr>
                <strong>PRESENTACIÓN DE DATOS O INDICADORES</strong>
                <hr>
                En Perú un tercio de la población se encuentra alrededor del cinturón costero del desierto en el oeste.
                Perú es un país considerablemente obeso con un 19.7% para el año 2016.
                Para la exportación de productos Perú cuenta con 191 aeropuertos donde en el año 2017 contaba con 59
                aeropuertos con pistas pavimentadas y en el año 2013 con un total de 132 aeropuertos sin pavimentar.
                <hr>
                <strong>ANÁLISIS Y ARGUMENTACIÓN</strong>
                <hr>
                Para ST’FRANCIS sería más fácil exportar a Perú ya que su distancia es corta y solo tendría que pasar
                por un país antes de llegar al mismo.
                En Perú en el año 2018 se registró un 21,77% de exportaciones en relación con su PIB, Perú es un país en
                el cual los últimos años ha crecido el consumo generado por la estabilidad económica y el éxito de las
                inversiones extranjeras.
                ST’FRANCIS tiene grandes oportunidades de exportar a Perú ya que para las empresas extranjeras tienen
                facilidad para establecer acuerdos comerciales e inversiones en el país.

                Por otra parte, nuestro café sería un plus para las persones adultas de Perú ya que cuentan con un
                porcentaje de 19,7 de personas obesas, como ya sabemos, nuestro café es un producto natural el cual no
                afectara en nada el consumo de este producto en el cuerpo.
                <hr>
                <strong>ACCESO A TECNOLOGIA</strong>
                <h6>GRÁFICAS O TABLAS</h6>
                <strong>USUARIOS DE INTERNET</strong>
                <hr>
                <img class="rounded mx-auto d-block" width="300px" src="../../images/graficasusuariosInternet.PNG"
                    alt="">
                <hr>
                <strong>PRESENTACIÓN DE DATOS O INDICADORES</strong>
                <hr>
                Buena competencia del operador móvil con servicios LTE; baja penetración de suscriptores de banda ancha
                en comparación con otros países latinoamericanos; La red 3G y los nuevos servicios LTE se expandieron
                proporcionando banda ancha móvil a las comunidades rurales, subastas de reguladores de espectro de 700
                MHz para servicios LTE; Perú es visto como un mercado potencial para el crecimiento de banda ancha, con
                el trabajo del gobierno para instalar la red troncal de fibra óptica en áreas remotas (2020)
                10 redes de televisión principales de las cuales solo una, Televisión Nacional de Perú, es de propiedad
                estatal; servicios de TV por cable multicanal disponibles; más de 2,000 estaciones de radio, incluido un
                número sustancial de estaciones de idiomas indígenas (2019)
                El brote de COVID-19 está afectando negativamente la producción de telecomunicaciones y las cadenas de
                suministro a nivel mundial; El gasto de los consumidores en dispositivos y servicios de
                telecomunicaciones también se ha ralentizado debido al efecto de la pandemia en las economías de todo el
                mundo; Se ha moderado el progreso general hacia mejoras en todas las facetas de la industria de las
                telecomunicaciones: móvil, línea fija, banda ancha, cable submarino y satèlite.
                <hr>
                <strong>ANÁLISIS Y ARGUMENTACIÓN</strong>
                <hr>
                A pesar de la situación por la que estará atravesando el mundo con el tema de la pandemia, peru ha sido
                uno de los países que se ha logrado sostener con el tema del acceso a la tecnología, obviamente superado
                por otros países pero sin tener gran amenaza en la perdida de datos en cuanto al internet, además de que
                peru se ha caracterizado por estar muy actualizado en el tema de la tecnología, se logra evidenciar que
                la información llega a casi el 80% de la población, queriendo decir esto que son muy pocos lo ciudadanos
                que no tiene acceso a la información. para una organización como ST’FRANCIS esto se traduce como una
                gran oportunidad para darse a conocer en esta región, debido a que la publicidad de la marca podría
                repartirse de una manera mucho más rápida y eficaz teniendo en cuenta la gran cantidad de canales de
                distribución con los que cuenta el país. Se trata de un poco de inversión para el tema de distribución
                de información y capacitación para la inversión de maquinaria que permita una ágil venta, conclusión y
                venta del producto.
                </p>

            </div>
            <div class="card-footer text-muted">
                <a href="#Inicio" class="btn btn-primary btn-block">Regresar</a>
            </div>
        </div>
    </div>


    <!--div class="jumbotron text-center" style="margin-bottom:0">
        <h4>CONCLUSIONES</h4>
        <br>
        <p>
          
        </p>
    </div-->

</body>

</html>