<!DOCTYPE html>
<html lang="en">

<head>
    <title>Web site</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>
        .fakeimg {
            height: 200px;
            background: #aaa;
        }
    </style>
</head>

<body>


    <%- include('partials/head.ejs')%>

    <%- include('partials/nav.ejs')%>

    <div class="row">

        <!--
    Guatemala
-->
        <div class="card text-center col-md">
            <div class="card-header">
                <img class="rounded mx-auto d-block" width="200px" src="../../images/escudoGuatemala.png" alt="">
            </div>
            <div class="card-body">
                <h5 class="card-title">INDIVIDUALISMO VS COLECTIVISMO</h5>
                <h6>GRÁFICAS O TABLAS</h6>

                <p class="card-text d-flex justify-content-start">
                    <img class="rounded mx-auto d-block" width="200px" src="../../images/graficaGuatemala.PNG" alt="">
                    <strong>PRESENTACIÓN DE DATOS O INDICADORES</strong>
                <hr>
                En las sociedades individualistas se supone que las personas deben cuidarse a sí mismas y a su familia
                directa únicamente. En las sociedades colectivistas, las personas pertenecen a "grupos" que las cuidan a
                cambio de lealtad.
                Con un puntaje de 13, Colombia se encuentra entre los puntajes individualistas más bajos; en otras
                palabras, se encuentra entre las culturas más colectivistas del mundo, pero en este caso lo supera
                Guatemala.
                “Estamos empezando a ser cada vez más individualistas y la construcción de capital social muestra bajos
                porcentajes porque se están perdiendo las acciones de carácter comunitario. Se evidencia una limitada
                participación en grupos”. Afirmó Fernando Ruíz Gómez, Viceministro de Salud Pública y Prestación de
                Servicios.
                La sociedad jerárquica de Guatemala, con yuxtaposición de grupos, intereses y posibilidades, engendra
                constantemente conductas irresponsables, injusticias y privilegios que dan como resultado, una nación en
                que predomina un individualismo cargado de ira, rencor, odio y desconfianza.

                <hr>
                <strong>ANÁLISIS Y ARGUMENTACIÓN</strong>
                <hr>

                Este indicador juega un papel muy importante para lo que es la razón de ser de ST’FRANCIS debido a que
                la idea principal de este producto es que sea compartido, porque generalmente su empaque no es
                individual y esto dice mucho de lo que se quiere lograr con la distribución del mismo. En el caso de
                Guatemala según el resultado aproximado que nos arrojó el análisis con un puntaje de 6; Guatemala si
                puede llegar a ser un país más colectivo según sus resultados y la expansión en el mismo sería mucho más
                eficiente porque al ser un país que se inclina más por el trabajo en equipo aceptaría más fácilmente una
                nueva organización en su entorno, mientras que para Colombia esto significaría una amenaza para su
                producto. lo sobrepasa en la tasa de individualismo que obtiene el país
                <hr>
                <strong class="card-title">DISTANCIA AL PODER</strong>
                <h6>GRÁFICAS O TABLAS</h6>
                <img class="rounded mx-auto d-block" width="200px" src="../../images/graficaGuatemala1.PNG" alt="">
                <hr>
                <strong>PRESENTACIÓN DE DATOS O INDICADORES</strong>
                <hr>
                Con 17.153.288 de habitantes (Julio 2020 est.) y 95 años, Guatemala se
                encuentra en la clasificación más alta de índice de distancia de poder (PDI),
                es decir, una sociedad que cree que las desigualdades entre las personas
                son simplemente un hecho de la vida. Esta desigualdad es aceptada en
                todas las capas de la sociedad, por lo que un líder sindical tendrá mucho
                poder concentrado en comparación con su equipo de gestión sindical, y
                ellos a su vez tendrán más poder que otros miembros del sindicato. Se
                observará un fenómeno similar entre los líderes empresariales y entre los
                puestos más altos en el gobierno. El líder típicamente posee una cantidad
                considerable de poder concentrado.
                <hr>
                <strong>ANÁLISIS Y ARGUMENTACIÓN</strong>
                <hr>
                Según la grafica se puede visualizar que Guatemala con respecto a Colombia, posee una mayor aceptación
                con 28 puntos de diferencia, de que el poder se encuentre distribuido en forma desigual. Si bien
                Guatemala es exportador de café, este aporta a Estados Unidos el 45% del total producido. Sus otros dos
                grandes clientes son la UE con 23% y Japón con 17%. Canadá, un importante consumidor del aromático
                guatemalteco, compra el 9% de su producción. Para el año 2019 en Guatemala la participación de los
                productos más importantes, el café ocupa el cuarto lugar con 5,9% de participación y aportando una
                cantidad al país de US$662.4 millones. De acuerdo con las cifras indicadas anteriormente para la
                organización ST’FRANCIS, podría ser un poco complejo encajar en el comercio guatemalteco, ya que es un
                país bastante regido por el orden al poder, son productores de café y la exportación de este es de
                mediana importancia para los ingresos del país.
                <hr>
                <strong class="card-title">POBLACIÓN URBANA</strong>
                <h6>GRÁFICAS O TABLAS</h6>
                <img class="rounded mx-auto d-block" width="310px" src="../../images/graficaGuatemala2.PNG" alt="">
                <hr>
                <strong>PRESENTACIÓN DE DATOS O INDICADORES</strong>
                <hr>
                Durante el periodo de 1960 a 2018, Guatemala durante ese período fue de 41,63% en el que en 1960 tuvo un
                mínimo de 31.12% y en 2018 tuvo un máximo de 51.05%.
                Guatemala esta en el puesto 67 de los 196 Estados que componen la tabla de población mundial de los
                datos macro, pero en los últimos años se ha visto un crecimiento en la población importante donde el
                51.5% son mujeres frente a un 48.5% son hombres y sólo el 0.48% de la población de Guatemala son
                inmigrantes según la ONU.
                La clasificación de la población en Guatemala es, de 0 a 14 años un 33.4% de 14 a 64 años un 61% y de 65
                años en adelante un 5.6%
                <hr>
                <strong>ANÁLISIS Y ARGUMENTACIÓN</strong>
                <hr>
                Se puede observar que Guatemala tiene grandes índices poblacionales lo que a ST’FRANCIS le beneficia, ya
                que tiene un gran publico al cual dirigirse, la mayor parte de población esta joven, el estilo de vida
                de los guatemaltecos suele ser saludable, se componen de distintas etnias y creencias pero todos buscan
                el bien para si, en Guatemala no se consume tanto café a diferencia de Colombia pero lo que nos hace
                diferentes a nosotros como empresa es que estamos ofreciendo un producto 100% orgánico que los haga
                sentir bien pero que también les sea saludable, por ende, se sabe que hoy en día las personas siempre
                acudirán a lo que es más saludable porque cada vez se quiere ser más fitness pero sin la necesidad de
                dejar lo que les gusta.


                </p>

            </div>
            <div class="card-footer text-muted">
                <a href="#Inicio" class="btn btn-primary btn-block">Regresar</a>
            </div>
        </div>

        <div class="card text-center col-md">
            <div class="card-header">
                <img class="rounded mx-auto d-block" width="240px" src="../../images/escudoPeru.png" alt="">
            </div>
            <div class="card-body">
                <h5 class="card-title">INDIVIDUALISMO VS COLECTIVISMO</h5>
                <h6>GRÁFICAS O TABLAS</h6>
                <img class="rounded mx-auto d-block" width="200px" src="../../images/graficaPeru.PNG" alt="">
                <p class="card-text d-flex justify-content-start">
                <hstrong>PRESENTACIÓN DE DATOS O INDICADORES</strong>
                <hr>
                Con un valor de 16, Perú muestra un puntaje muy colectivista, en línea con la mayoría de los otros
                países latinoamericanos. Entre otras consecuencias, es interesante destacar que, en general, las
                personas aquí encuentran atractivas a las grandes empresas y que, particularmente entre los trabajadores
                manuales, la participación en la empresa es moral, y no calculadora. Los gerentes respaldan puntos de
                vista más tradicionales y solo poco a poco comienzan a apoyar la iniciativa de los empleados y la
                actividad grupal. En general, aspiran a la conformidad y prefieren tener seguridad a tener autonomía en
                su posición. Un nuevo estudio realizado por investigadores de la Universidad Estatal de Michigan
                encontró que, según datos analizados de 104,365 adultos en 63 países diferentes, Ecuador es el país más
                empático en el mundo, seguido por Arabia Saudí y en tercer lugar el Perú. La investigación encontró que
                en las sociedades con mayor empatía también hay niveles más altos de colectivismo, amabilidad,
                responsabilidad, autoestima, emotividad, bienestar y una mayor disposición hacia lo social.
                <hr>
                <strong>ANÁLISIS Y ARGUMENTACIÓN</strong>
                <hr>
                Perú es un país que se ha destacado a lo largo de los años por contar con una población muy colectiva,
                se evidencia que es una sociedad muy unida y con objetivos claros de desarrollo buscando el bien de
                todos los peruanos, esto aporta para ST’FRANCIS una oportunidad de expansión bastante grande debido a
                que si el producto llega a una sociedad con estas características su demanda sería bastante buena ya que
                no habría nada mejor que compartir un delicioso café con mi sociedad. ST’FRANCIS CAFÉ también podría
                generar una estrategia de entrada al país ofreciendo una cantidad de empleos para las personas que
                tienen menos oportunidades que en este caso serían los agricultores, con esta expansión no solo tendría
                ganancias la organización si no que se contribuiría con la disminución de la tasa de disminución de la
                tasa de desempleo
                <hr>
                <strong class="card-title">DISTANCIA AL PODER</strong>
                <h6>GRÁFICAS O TABLAS</h6>
                <img class="rounded mx-auto d-block" width="200px" src="../../images/graficaPeru1.PNG" alt="">
                <hr>
                <strong>PRESENTACIÓN DE DATOS O INDICADORES</strong>
                <hr>
                Entre los años 1960 y 2018 Perú tuvo un 66.77% con un mínimo de 46.81% en 1960 y un máximo de 77.91% en
                el 2018. Perú es el quinto país más poblado según el ranking de población, América del Sur, al año 2017
                es el quinto más poblado después de Brasil, Colombia, Argentina y Venezuela y a nivel de América Latina
                ocupa el sexto lugar en la que el 49.2% son hombres y el 50.8% son mujeres, y en la que se a evidenciado
                que ha crecido mas la población urbana que la rural.
                Algunos observadores rastrean el puntaje PDI de Perú hasta el imperio inca centralizado y fuertemente
                estructurado; otros señalan que ha sido fomentado por los gobiernos coloniales y autoritarios, así como
                por la iglesia. Sin embargo, los subordinados todavía perciben a los superiores como de difícil acceso y
                no confían en ellos. Los superiores consideran que los subordinados son de un tipo diferente y piden
                respeto, especialmente si estos últimos son de origen negro o indígena.
                <hr>
                <strong>ANÁLISIS Y ARGUMENTACIÓN</strong>
                <hr>
                Perú posee 3 puntos de un menor manejo de distancia al poder por debajo de Colombia, lo que los hace un
                par de países con una gran semejanza con respecto a esta variable, la organización ST’FRANCIS a raíz del
                distanciamiento al poder se puede ver beneficiado al encajar en el vecino país, ya que la aceptación de
                poder es algo que los dos practican de manera similar. La exportación peruana de cafés certificados
                cerró en 1.021.258 quintales el 2018, de cuyo total el 90% fue orgánico (919.132), según informó la
                Comisión de Promoción del Perú para la Exportación y el Turismo, se puede evidenciar que no es necesario
                incluir dentro de su comercio un proveedor de café, ya que el café representa el principal producto de
                exportación en el país.
                El Café es el primer producto agrícola peruano de exportación y es el séptimo país exportador de café a
                nivel mundial.
                <hr>
                <strong class="card-title">POBLACIÓN URBANA</strong>
                <h6>GRÁFICAS O TABLAS</h6>
                <img class="rounded mx-auto d-block" width="310px" src="../../images/graficaPeru2.PNG" alt="">
                <hr>
                <strong>PRESENTACIÓN DE DATOS O INDICADORES</strong>
                <hr>
                Entre los años 1960 y 2018 Perú tuvo un 66.77% con un mínimo de 46.81% en 1960 y un máximo de 77.91% en
                el 2018. Perú es el quinto país más poblado según el ranking de población, América del Sur, al año 2017
                es el quinto más poblado después de Brasil, Colombia, Argentina y Venezuela y a nivel de América Latina
                ocupa el sexto lugar en la que el 49.2% son hombres y el 50.8% son mujeres, y en la que se a evidenciado
                que ha crecido mas la población urbana que la rural.
                <hr>
                <strong>ANÁLISIS Y ARGUMENTACIÓN</strong>
                <hr>
                Perú es un país el cual tiene gran cantidad de habitantes, donde 55 pueblos hacen parte de tierras
                indígenas, sabemos que Perú es un país donde tienen diferentes creencias o costumbras, donde consideran
                lo de ellos muy sagrado y en ocasiones rechazan lo que viene de otros países, pero esto no puede ser un
                sobre peso para nuestra empresa.
                Nuevamente ST’FRANCIS sería beneficiado de poder llegarle a un país con tanta población donde la voz a
                voz puede ayudar a la empresa a darse a conocer.
                Perú es un país que también exporta café a 48 países, en los cuales lideran: Alemania, Bélgica, Estados
                Unidos.
                ST’FRANCIS sabe que se dirigiría a una competencia que ya esta establecida y que tiene su historia, pero
                nuestro café al ser tan fresco, suave y 100% orgánico podrá ser una gran competencia o incluso hacer
                aliados.
                </p>

            </div>
            <div class="card-footer text-muted">
                <a href="#Inicio" class="btn btn-primary btn-block">Regresar</a>
            </div>
        </div>
    </div>


    <!--div class="jumbotron text-center" style="margin-bottom:0">
        <h4>CONCLUSIONES</h4>
        <br>
        <p>
          
        </p>
    </div-->

</body>

</html>