<!DOCTYPE html>
<html lang="en">

<head>
    <title>Web site</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>
        .fakeimg {
            height: 200px;
            background: #aaa;
        }
    </style>
</head>

<body>


    <%- include('partials/head.ejs')%>

    <%- include('partials/nav.ejs')%>

    <div id="Inicio" class="row">

        <!--
    Guatemala
-->
        <div class="card text-center col-md">
            <div class="card-header">
                <img class="rounded mx-auto d-block" width="280px" src="../../images/banderaGuatemala.jpg" alt="">
            </div>
            <div class="card-body">
                <h5 class="card-title">INDICE DE FACIBILIDAD PARA HACER NEGOCIOS</h5>
                <h6>GRÁFICAS O TABLAS</h6>

                <p class="card-text d-flex justify-content-start">
                    <img class="rounded mx-auto d-block" width="300px" src="../../images/epgraficaGuatemala.PNG" alt="">

                    <hr>
                    <strong>PRESENTACIÓN DE DATOS O INDICADORES</strong>
                    <hr>
                    (Posición 118) Guatemala ha favorecido el desarrollo de las empresas de todo el país, gracias a que
                    cuenta con un clima de negocios para la creación de nuevas inversiones tanto nacionales como
                    extranjeras. Los empresarios locales se caracterizan por ser competitivos, elaborar productos de
                    calidad, entregar a tiempo las cargas, contar con personal capacitado, etc., con la premisa de
                    responder
                    a los estándares internacionales, siendo esta la forma más efectiva de superar los retos de la
                    globalización. Para los empresarios guatemaltecos es importante contar con condiciones óptimas que
                    permitan comercializar sus productos, por lo que el compromiso de ser competitivos también hace
                    parte
                    del trabajo del sector público, medios de comunicación, instituciones académicas y de investigación
                    y la
                    población en general, interactuando juntos por el bienestar de la sociedad.
                    El país centroamericano cuenta con el Programa Nacional de Competitividad (Pronacom), el cual se
                    encarga
                    de facilitar las alianzas entre los distintos sectores y de esta manera contribuir positivamente en
                    las
                    condiciones del clima de negocios para generar inversiones extranjeras y nacionales
                    <hr>
                    <strong>ANÁLISIS Y ARGUMENTACIÓN</strong>
                    <hr>
                    ST’FRANCIS cuenta con una gran oportunidad de expansión en Guatemala debido a que la cultura del
                    mismo
                    se inclina por ser un país que se adapta mucho más a la globalización, esto permite que
                    organizaciones
                    de por fuera ingresen más fácil a hacer negocios con la personas del mismo, además de que el país
                    cuenta
                    con un programa para facilitar las condiciones de negociación que se presente, este de gran ayuda
                    para
                    organizaciones de por fuera y una de ellas es ST’FRANCIS ya que si no se cuenta con gran experiencia
                    ni
                    conocimiento del panorama al que se quiere llegar estar organización brinda un enfoque más
                    aterrizado de
                    lo que podrá llegar a hacer en el país. No obstante la posición que adquiere Guatemala frente al
                    índice
                    de apertura de negocios no es bastante prometedora, y a pesar de que se cuenta con la ya mencionada
                    organización, según la tabla de reglas de juego para apertura de negocios indican que el
                    procedimiento
                    tarda aproximadamente 57 días, que es poco a comparación de un país como Brasil que podría tardar
                    hasta
                    120 días, pero continua siendo mucho tiempo además de que solicitan 12 procedimientos distintos para
                    finiquitar lo que va a ser mi negocios en este pais.

                    <hr>
                    <strong>INDICE DE GOBERNANZA MUNDIAL</strong>
                <h6>GRÁFICAS O TABLAS</h6>
                <p class="card-text d-flex justify-content-start">
                    <img class="rounded mx-auto d-block" width="300px" src="../../images/indicadoresGuatemala.PNG"
                        alt="">
                    <hr>
                    <strong>PRESENTACIÓN DE DATOS O INDICADORES</strong>
                    <hr>
                    La puntuación de Guatemala en el 2019 fue de 27.9 puntos, situándose debajo del promedio
                    latinoamericano (42.65). Su posición se encuentra en el puesto 159 de 211, 37 lugares arriba con
                    respecto al año anterior.
                    De los seis componentes, el peor calificado fue el Estado de derecho en el puesto 181 con 13.46
                    puntos. Por otra parte, el mejor puntaje fue la medición de la calidad de la regulación con 45.67
                    puntos en el puesto 114 de todos los países.
                    Por otra parte, el país mejor evaluado de la región es Chile (79.9 puntos) y el peor, Venezuela (4.9
                    puntos).

                    <hr>
                    <strong>ANÁLISIS Y ARGUMENTACIÓN</strong>
                    <hr>
                    Esta variable es de vital importancia para lo que será el análisis que se le realiza a cada país
                    para una próxima expansión, debido a que los resultados o porcentajes de la misma definen que tan
                    conveniente y fácil puede ser abrir una sucursal de venta o producción dentro del mismo, si
                    analizamos el control de corrupción que se tiene en Guatemala podrías decir que para el año 2018 se
                    tenía un porcentaje muy bajo en cuanto al control de esta, puesto que se contaba con aproximadamente
                    un 20% del control para estas actividades. Para ST’FRANCIS esto no es para nada convenientes puesto
                    que abrir allí una planta de producción sería mucho más difícil porque no se respetarían todas las
                    leyes o normas que rigen el país y por ende abrirlo no sería completamente legal.
                    <hr>
                    <strong>ÍNDICE DE RIESGO POLÍTICO</strong>
                    <hr>
                <h6>GRÁFICAS O TABLAS</h6>
                <hr>
                <img class="rounded mx-auto d-block" width="300px" src="../../images/promediosglobalesGuatemala.PNG"
                    alt="">
                <hr>
                <strong>PRESENTACIÓN DE DATOS O INDICADORES</strong>
                <hr>
                Estas calificaciones están respaldadas por un historial de estabilidad macroeconómica y políticas
                conservadoras, baja deuda pública con respecto al PIB y buena liquidez externa, también el índice mejoró
                cuando el presidente Jimmy Morales obtuvo más apoyo del congreso y el sistema que en el año 2017 le
                ayudaron a evitar las protestas en gran cantidad. Estos aspectos positivos se contrarrestan por los
                cambios políticos y económicos que ha tenido el país, la gobernabilidad débil, los niveles de inversión
                e indicadores de desarrollo humano afectan negativamente el valor de las transacciones comerciales o
                financieras que entidades extranjeras han realizado con el país. También se encuentra en el país
                desafíos legales que comprometen a los candidatos presidenciales, el hecho de tener que acudir a
                investigaciones criminales debilita la credibilidad y legitimidad de un proceso electoral disminuyendo
                aún más la probabilidad de reformas que promuevan el desarrollo económico y social y comprometan una
                débil recaudación de impuestos que presenta el país.
                El déficit del gobierno general de Guatemala está por debajo de la medida del índice
                De riesgo país ‘BB’ del 2.7% del PIB, pero el interés a los gobiernos del 13.6% que es el doble de la
                mediana ‘BB’ del 6.3%, se pronostica una carga de deuda pública relativamente estable.(Gamarro,2019)
                <hr>
                <strong>ANÁLISIS Y ARGUMENTACIÓN</strong>
                <hr>
                Según lo anterior existe una relación directa con la empresa y el riesgo país pero vemos la necesidad de
                cambios en los marcos legales, regulatorios e impositivos que se requieren para que ST´ FRANCIS CAFÉ
                pueda incursionar en un país extranjero con las situaciones que vive hoy en día Guatemala y que el
                resultado sea exitoso, esto puede producir una pérdida inesperada en el valor de la moneda extranjera
                utilizada en transacciones transfronterizas llevando así a un riesgo político muy alto para el país pero
                beneficioso para la empresa al minimizar costos de comercialización. Como desventajas en la situación
                del indicador es la cuestionable certeza y la legitimidad de los datos disponibles que ofrece el país, o
                que el país permita que las transacciones internacionales se lleven a cabo
               
                </p>


            </div>
            <div class="card-footer text-muted">
                <a href="#Inicio" class="btn btn-primary btn-block">Regresar</a>
            </div>
        </div>

        <div class="card text-center col-md">
            <div class="card-header">
                <img class="rounded mx-auto d-block" width="240px" src="../../images/banderaPeru.png" alt="">
            </div>
            <div class="card-body">
                <h5 class="card-title">INDIVIDUALISMO VS COLECTIVISMO</h5>
                <h6>GRÁFICAS O TABLAS</h6>
                <img class="rounded mx-auto d-block" width="200px" src="" alt="">
                <p class="card-text d-flex justify-content-start">
                    <img class="rounded mx-auto d-block" width="300px" src="../../images/epgraficaPeru.PNG" alt="">
                    <hr>
                    <strong>PRESENTACIÓN DE DATOS O INDICADORES</strong>
                    <hr>
                    (Posición 65) La cultura peruana prefiere relaciones personales cercanas, es amistosa en procesos de
                    búsqueda de un acuerdo para resolver diferencias de intereses. La negociación transcurre dentro de
                    un ambiente informal, frecuentemente con poca preparación, y recurriendo a habilidades y criterios
                    subjetivos.
                    En esta cultura hacer negociaciones significa generalmente repartirse algo de valor fijo, problema
                    que implica que una de las partes gana lo que pierde la otra, una concepción de “suma cero” sobre la
                    negociación. Esto lleva implícita cierta aprehensión y una lucha por ganar o perder, por sacar
                    provecho de la contraparte. Esta filosofía de carácter distributivo va aparejada por aperturas o
                    demandas muy altas (y ofertas muy bajas) y el uso de la astucia y las tretas para despistar al
                    “enemigo”, que incluyen dar la impresión de que ceden y son flexibles.
                    <hr>
                    <strong>ANÁLISIS Y ARGUMENTACIÓN</strong>
                    <hr>
                    Con el tema de la negociación con Perú se torna un poco más complicado el proceso, debido a que
                    según el análisis los peruanos ven las nuevas organizaciones en su país como los “enemigos” y son
                    personas que no confían mucho en productos de fuera o en personas. Para esta negociación se le debe
                    dejar claro a Perú que va a ganar de la misma ya que esta cultura espera recibir más ganancia que la
                    otra parte, por ende ST`FRANCIS debe estructurar un plan de entrada en la que Perú obtenga ganancia
                    que se logren ver a corto plazo y una de ellas podría ser generando empleo para las personas de su
                    región.
                    <hr>
                    <strong>INDICE DE GOBERNANZA MUNDIAL</strong>
                <h6>GRÁFICAS O TABLAS</h6>
                <img class="rounded mx-auto d-block" width="300px" src="../../images/indicadoresPeru.PNG" alt="">
                <hr>
                <strong>PRESENTACIÓN DE DATOS O INDICADORES</strong>
                <hr>
                La corrupción y la delincuencia son los principales problemas que vive el país. En efecto, más del
                sesenta por ciento de la población (60,6%), coloca a la corrupción como la principal preocupación.
                Seguido por la delincuencia (41,8%). Los datos sugieren que la corrupción percibida por la población
                como principal problema del país, es aquella vinculada al poder político, como el tráfico de
                influencias, cobro de porcentajes sobre contratos y licitaciones, malversaciones, descuentos compulsivos
                etc. que requieren instrumentos de medición, distintos al de una encuesta de hogares.
                <hr>
                <strong>ANÁLISIS Y ARGUMENTACIÓN</strong>
                <hr>
                Si analizamos según la premisa de lo que piensas los ciudadanos de los principales problemas para el
                país, podrías decir que la corrupción es el mayor agravante de todos, y este no solo se manifiesta en
                Perú sino también en Guatemala y liderando esta variable quedaría Colombia, no obstante Perú tiene un
                porcentaje del 35% en el control que se tiene sobre la corrupción por la que atraviesa Perú, ST`FRANCIS
                debe realizar un análisis bastante detallado en cuanto a la apertura de un negocio en este país, puesto
                que cada uno de sus procedimientos se tornen transparentes para que no caiga en la red de la corrupción,
                que ninguno se vea fracturado por este agravante que invade a todo el mundo.
                <hr>
                <strong>ÍNDICE DE RIESGO POLÍTICO</strong>
                <hr>
                <h6>GRÁFICAS O TABLAS</h6>
                <hr>
                <img class="rounded mx-auto d-block" width="300px" src="../../images/riesgopoliticoPeru.PNG" alt="">
                <hr>
                <strong>PRESENTACIÓN DE DATOS O INDICADORES</strong>
                <hr>
                En el año 2019 Perú se proyectó una inversión del 12% del PIB para enfrentar la contingencia generada
                por el Covid-19, esto requeriría al menos 25 mil millones de dólares de las reservas fiscales, para
                poder hacer uso de estos recursos se necesita un eficiente y fuerte liderazgo político que permita
                administrar las estrategias y los recursos humanos necesarios para implementar los controles
                gubernamentales que se necesitan en medio de una pandemia que proyecta un colapso en el sistema de salud
                la paralización del aparato productivo y la economía informasl del país, el nivel de riesgo político y
                económico que implica esto obliga a evaluar todas las circunstancias que pueden hacer que las reservas
                económicas del país se diluyan como ya ha pasado anteriormente, hasta el momento el gobierno ha adoptado
                medidas que ayudarán a los más vulnerables y a los sectores más pequeños de la economía lo que ha
                ayudado a la aprobación de los ciudadanos hacia el presidente en un 52% y en un 43% de todo el poder
                ejecutivo, aunque se espera las decisiones que se tomarán para los sectores medio altos, por ello
                también se genera un índice de riesgo político alto pero que se mantiene al paso de los años.
                <hr>
                <strong>ANÁLISIS Y ARGUMENTACIÓN</strong>
                <hr>
                En el país podemos apreciar condiciones positivas frente al indicador, sabemos que por el hecho de estar
                en una situación de pandemia todas las decisiones económicas de un gobierno son para hacerle frente a
                estas, y hoy en día las empresas enfrentan desafíos que nunca habían presentado, las economías y el
                comercio son cada vez más susceptibles a la incertidumbre y los riesgos políticos representan una
                amenaza para sus intereses comerciales, pero existe la posibilidad de un apoyo al comercio internacional
                en Perú ya que entendemos que la estabilidad y legitimidad en la forma de gobierno del país son
                consideraciones importantes para identificar y corregir los errores de las políticas y así poder llegar
                a tener una negociación para abrir mercado en el país, siempre y cuando ST´ FRANCIS CAFÉ tenga la
                posibilidad y capacidad de inversión que influye en el tipo de riesgo que está dispuesta a asumir.


                </p>

            </div>
            <div class="card-footer text-muted">
                <a href="#Inicio" class="btn btn-primary btn-block">Regresar</a>
            </div>
        </div>
    </div>


    <!--div class="jumbotron text-center" style="margin-bottom:0">
        <h4>CONCLUSIONES</h4>
        <br>
        <p>
          
        </p>
    </div-->

</body>

</html>