<!DOCTYPE html>
<html lang="en">

<head>
    <title>Web site</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>
        .fakeimg {
            height: 200px;
            background: #aaa;
        }
    </style>
</head>

<body>


    <div class="jumbotron text-center" style="margin-bottom:0">
        <h1 id="Inicio">ALDEA GLOBAL II</h1>
        <p>Entorno de inversión Extranjera</p>
    </div>

    <%- include('partials/nav.ejs')%>

    <div class="row">

        <!--
    Guatemala
-->
        <div class="card text-center col-md">
            <div class="card-header">
                <img class="rounded mx-auto d-block" width="260px" src="../../images/escudoGuatemala.png" alt="">
            </div>
            <div class="card-body">

                <strong>FLUJOS DE INVERSIÓN CON PAÍS 1</strong>
                <h6>GRÁFICAS O TABLAS</h6>
                <p class="card-text d-flex justify-content-start">
                    <img class="rounded mx-auto d-block" width="300px"
                        src="../../images/entornoComercioInternacional/graficaGuatemala.PNG" alt="">
                    <hr>
                    <strong>PRESENTACIÓN DE DATOS O INDICADORES</strong>
                    <hr>
                    Según las estadísticas obtenidas desde el banco de la república, Guatemala para el año 2018 tuvo un
                    descenso de inversiones con Colombia de 17,4 millones de dólares, pero para el 2019 tiene un ascenso
                    34,9 millones de dólares, superando inclusive las cifras obtenidas para el año 2017.
                    <hr>
                    <strong>ANÁLISIS Y ARGUMENTACIÓN</strong>
                    <hr>
                    Para la organización ST’FRANCIS, esta fluctuación que ha presentado Guatemala con respecto a las
                    inversiones realizadas en Colombia, podría presentar ciertos obstáculos para poder hacer expansión
                    en dicho país, ya que con la actual pandemia del COVID 19, estas inversiones se podrían ver
                    afectadas y posiblemente con tendencia a la baja para el año 2020-2021.
                    Para el año 2018 los mandatarios de Colombia y Guatemala se reúnen con el fin de dar por terminada
                    la negociación de un número importante de capítulos del Tratado de Libre Comercio entre ambas
                    naciones, lo que profundizará las relaciones comerciales.

                    <hr>
                    <strong>PRINCIPALES SECTORES DE INVERSIÓN</strong>
                <h6>GRÁFICAS O TABLAS</h6>
                <img class="rounded mx-auto d-block" width="300px"
                    src="../../images/entornoComercioInternacional/inversionGuatemala.PNG" alt="">
                <hr>
                <strong>PRESENTACIÓN DE DATOS O INDICADORES</strong>
                <hr>
                Los principales sectores de inversión para Guatemala en cuanto a la economía son: Sector primaria,
                sector agrícola tradicional, sector agrícola no tradicional, industria forestal entre otros, ahora bien
                si nos centramos en el sector agrícola tradicional podríamos traer el Café: La producción de café ha
                experimentado importantes cambios en los últimos años. El sector 5 mejoró ligeramente su productividad
                gracias a una mayor tecnificación del cultivo y los mayores niveles de fertilización por lo que llegó a
                ser la principal actividad económica del país. Guatemala crece actualmente su Inversión extranjera crece
                al 6% de enero a septiembre de 2019 el país recibió $671 millones por concepto de inversión extranjera
                directa, superando en 6% a lo reportado en igual período de 2018. Cifras del Banco de Guatemala detallan
                que entre los primeros nueve meses de 2018 y el mismo lapso de 2019, la inversión extranjera directa
                (IED) que llegó al país aumentó en $39 millones, al pasar de $671 millones a $632 millones.
                <hr>
                <strong>ANÁLISIS Y ARGUMENTACIÓN</strong>
                <hr>
                PROCOLOMBIA identificó los empresarios que están buscando inversión extranjera directa que les permita a
                los países complementar la oferta disponible. Por ejemplo, en esto entraría Guatemala como país que
                busca una expansión pero se debe tener presente que los potenciales inversionistas son de Corea del Sur
                pero la entidad ha logrado contemplar la oportunidad de conciliar con otros países y uno de ellos es
                Colombia, igualmente se nota una mayor inversión por parte de Perú, además de que el café en algún
                momento fue la principal actividad económica de Guatemala la entrada a este país en busca de producción
                y comercialización del mismo se torna en una gran amenaza para el mismo.

                <hr>
                <strong>INCENTIVOS A LA INVERSIÓN</strong>
                <h6>GRÁFICAS O TABLAS</h6>
                <hr>
                <img class="rounded mx-auto d-block" width="300px"
                    src="../../images/entornoComercioInternacional/incentivosGuatemala.PNG" alt="">
                <hr>
                <strong>PRESENTACIÓN DE DATOS O INDICADORES</strong>
                <hr>
                En la gráfica evidenciamos que el sector de manufactura es el que más aporta al PIB del país seguido del
                comercio, actividades agrícolas y servicios privados, sumados estos cuatro sectores contribuyen a más
                del 60% del total de producción del país. Guatemala se ve favorecido por su ubicación geográfica que se
                encuentra en un sitio estratégico cercano a uno de los más grandes mercados del mundo que es Estados
                Unidos, también gracias a su posición geográfica tiene conexiones directas hacia diferentes destinos
                como los principales puertos de Europa,,Sudamerica y Asia. Por su riqueza natural ofrece diversas
                oportunidades de inversión en sectores como turismo, agroindustria, manufacturas livianas, vestuario y
                textiles, algunos de los sectores potenciales para el crecimiento económico incluyente y sostenible.
                Tiene una amplia economía diversificada con una industria fortalecida y un puntaje sector de servicios
                como presenta la gráfica.
                Invertir en Guatemala también ofrece incentivos fiscales a la inversión extranjera en Guatemala como a
                nacionales debido a leyes que facilitan el
                Hacer negocios, permitiendo la libre negociación de divisas y que se permite a los inversionistas
                extranjeros participar en igualdad de condiciones que los nacionales, algunas de estas son: 100% de
                exoneración de los derechos arancelarios y cargos aplicables a la importación de maquinaria, equipo,
                materia prima entre otros; 100% de exoneración del impuesto sobre la renta -ISr-10 años; 100% de
                exoneración del Impuesto al Valor Agregado-IVA; y 100% de exoneración del Impuesto Único Sobre Inmuebles
                –ISUI-para las entidades administradoras de zonas francas. (paraisosfiscales,2020)
                <hr>
                <strong>ANÁLISIS Y ARGUMENTACIÓN</strong>
                <hr>
                Uno de los factores que inciden directamente a este indicador y favorecen a la empresa es que dentro de
                los estándares permitidos por la OMC, en el país se permite registrar una empresa en cualquier sitio del
                país bajo un régimen especial de exportador que le permite operar como zona libre de comercio dentro de
                sus instalaciones, osea que el gobierno radica en un total apoyo a las inversiones extranjeras directas
                para hacer crecer al país y otorgando un gran beneficio financiero, de comercio internacional y de
                expansión de la marca a la empresa. También tenemos una diversidad comercial, con sectores atractivos
                para la venta de nuestro café, fácil adaptación al mercado y posicionamiento de marca, hay una gran
                población joven capacitada para promover el producto y diferentes opciones positivas para incursionar
                siendo competitivos.
                </p>


            </div>
            <div class="card-footer text-muted">
                <a href="#Inicio" class="btn btn-primary btn-block">Regresar</a>
            </div>
        </div>

        <div class="card text-center col-md">
            <div class="card-header">
                <img class="rounded mx-auto d-block" width="300px" src="../../images/escudoPeru.png" alt="">
            </div>
            <div class="card-body">


                <strong>FLUJOS DE INVERSIÓN CON PAÍS 2</strong>
                <h6>GRÁFICAS O TABLAS</h6>
                <p class="card-text d-flex justify-content-start">
                    <img class="rounded mx-auto d-block" width="300px"
                        src="../../images/entornoComercioInternacional/inversionPeru.PNG" alt="">
                    <hr>
                    <strong>PRESENTACIÓN DE DATOS O INDICADORES</strong>
                    <hr>
                    Los flujos de inversión entre Colombia y Perú, durante los 3 últimos años se han visto favorecidas
                    creando una brecha entre ambos países, dado que las cifras desde el 2017 han ido incrementando
                    notoriamente. Del 2017 al 2018 se puede apreciar un incremento de 163,8 millones de dólares y para
                    el año del 2018 al 2019 un aumento de 252,3 millones de dolares.
                    <hr>
                    <strong>ANÁLISIS Y ARGUMENTACIÓN</strong>
                    <hr>

                    La balanza comercial entre Colombia y Perú es positiva, ambos sostienen unos solidos vínculos, esto
                    debido a sus similitudes culturales, macroeconómicas y cercanía geográfica. La expansión para
                    ST’FRANCIS hacia el vecino país se podría dar de una manera beneficiosa, ya que durante los 3
                    últimos años ha ido incrementando en ascenso y de manera notoria los flujos de inversión; pero esta
                    apuesta podría ser un riesgo, debido a la situación actual que atraviesa el mundo debido al COVID
                    19, generando una fluctuación negativa para el presente año.

                    <hr>
                    <strong>PRINCIPALES SECTORES DE INVERSIÓN</strong>
                <h6>GRÁFICAS O TABLAS</h6>
                <img class="rounded mx-auto d-block" width="400px"
                    src="../../images/entornoComercioInternacional/inversionPeru1.PNG" alt="">
                <hr>
                <strong>PRESENTACIÓN DE DATOS O INDICADORES</strong>
                <hr>
                El sector industrial (15.1%), finanzas (15.3%) y energía (13.8%), complementan los cinco principales
                sectores de destino de la IED, que en conjunto representan el 84.7% del stock de IED en el Perú.
                Con Perú para que exista una inversión conjunta entre los dos países y no se pierda la oportunidad que
                brindan los asiáticos", destacó que se convierte no solo en la octava economía del mundo, sino además en
                el séptimo receptor de Inversión Extranjera Directa (IED) con 4.286 proyectos y una participación del
                3,2% de inversiones globales. Y del total identificados en el mundo hacia este bloque comercial, 780
                fueron dirigidos hacia Colombia, lo que convierte al país en el segundo receptor entre las cuatro
                naciones que integran este bloque comercial.


                <hr>
                <strong>ANÁLISIS Y ARGUMENTACIÓN</strong>
                <hr>
                Para este sector también es Perú una mejor opción a la hora de internacionalizar a St Francis café sin
                descartar a Guatemala obviamente pero este país cuenta con mayores oportunidades para obtener utilidades
                rápidas en un plan de negocio que se plasme para darse a conocer y adecuar una excelente distribución a
                futuro dentro de este país.

                <hr>
                <strong>INCENTIVOS A LA INVERSIÓN</strong>
                <h6>GRÁFICAS O TABLAS</h6>
                <hr>
                <img class="rounded mx-auto d-block" width="400px"
                    src="../../images/entornoComercioInternacional/incentivosPeru.PNG" alt="">
                <hr>
                <strong>PRESENTACIÓN DE DATOS O INDICADORES</strong>
                <hr>
                Se estima que la inversión en aspectos de transformación tecnológica y energías limpias, así como en el
                sector turismo y deconstrucción como se evidencia en la gráfica, pueda llegar a 36.000 millones de soles
                hasta el próximo año, así mejorando las condiciones para la reactivación económica de más o menos 1
                millón de empresas, la superintendencia Nacional de Aduanas y de Administración Tributaria informó que
                mediante el Decreto Llegislativo N°1488 por razones de mitigar la emergencia sanitaria se adoptó la
                medida para dar mayor potencia a la inversión por medio de la deducción del valor de los activos en el
                impuesto a la renta. El gobierno también estableció que a partir del año 2021 y de manera temporal tasas
                mayores de depreciación para fomentar la adquisición y renovación de los activos fijos de las empresas.
                En uno de los sectores más desfavorecidos por la pandemia y a los cuales se les brindó un alivio
                tributario son los que corresponden a establecimientos de hospedaje, agencias de viaje y de turismo,
                restaurantes y aquellos dedicados a la realización de espectáculos públicos no deportivos se les
                aplicara para el 2021 y 2022 la depreciación especial del 20% a los edificios y construcciones y de
                33.3% para vehículos de transporte.

                <hr>
                <strong>ANÁLISIS Y ARGUMENTACIÓN</strong>
                <hr>
                En el país se pueden presentar oportunidades de inversión en sectores de comercio y de alimentos, es el
                más beneficioso para el que puede apuntar una mirada atractiva a la empresa, no es el único sector que
                ofrece rentabilidad pero si el que más ganancias puede darle siempre y cuando tenga en claro el panorama
                a medio y largo plazo de este sector o al que quieran apuntar, al igual que tener una cartera de
                diversos valores en las que se pueda tener opciones para invertir en el país; Así mismo se beneficia con
                las medidas tomadas para el bien estar de la inversión en el país como lo es minimizar el valor de los
                activos en el impuesto a la renta abriendo la posibilidad de abrir mercado en el mismo país ya que la
                medida aplica para los activos o pasivos que se posean en el país o en el exterior; por la participación
                del gobierno ante sectores de turismo también la empresa logra ser favorecida por el hecho de obtener
                fácil promoción y venta en este tipo de comercios.
                </p>

            </div>
            <div class="card-footer text-muted">
                <a href="#Inicio" class="btn btn-primary btn-block">Regresar</a>
            </div>
        </div>
    </div>


    <!--div class="jumbotron text-center" style="margin-bottom:0">
        <h4>CONCLUSIONES</h4>
        <br>
        <p>
          
        </p>
    </div-->

</body>

</html>