<!DOCTYPE html>
<html lang="en">

<head>
    <title>Web site</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>
        .fakeimg {
            height: 200px;
            background: #aaa;
        }
    </style>
</head>

<body>


    <div class="jumbotron text-center" style="margin-bottom:0">
        <h1 id="Inicio">ALDEA GLOBAL II</h1>
        <p>Entorno de Comercio Internacional</p>
    </div>

    <%- include('partials/nav.ejs')%>

    <div class="row">

        <!--
    Guatemala
-->
        <div class="card text-center col-md">
            <div class="card-header">
                <img class="rounded mx-auto d-block" width="280px"
                    src="../../images/entornoComercioInternacional/banderaGuatemala.jpg" alt="">
            </div>
            <div class="card-body">

                <strong>INDICADOR DE DESEMPEÑO LOGISTICO</strong>
                <h6>GRÁFICAS O TABLAS</h6>
                <p class="card-text d-flex justify-content-start">
                <img class="rounded mx-auto d-block" width="300px"
                    src="../../images/entornoComercioInternacional/graficalogistica.PNG" alt="">
                <hr>
                <strong>PRESENTACIÓN DE DATOS O INDICADORES</strong>
                <hr>
                Guatemala tiene su registro más bajo en el Índice de Desempeño Logístico (IDL) al bajar 34 posiciones y
                ocupar la casilla 111, a partir de una encuesta aplicada a 1,200 profesionales de la industria. El
                documento forma parte del informe bienal La logística comercial en la economía mundial hecho por un
                organismo multilateral. El organismo internacional evaluó de los países estudiados: la eficiencia en
                aduanas, calidad de la infraestructura, calidad de los servicios logísticos, facilidad el envío de
                fletes internacionales, capacidad para rastrear mercancías y la puntualidad de las entregas. En 2016,
                Guatemala alcanzó el peor registro, posición 111, entre los 50 países con peor desempeño logístico.
                <hr>
                <strong>ANÁLISIS Y ARGUMENTACIÓN</strong>
                <hr>
                El indicador con mayor deterioro para Guatemala fue el que califica la facilidad con que se tramitan y
                envían los embarques internacionales. Bajo estos términos sería bueno realizar un análisis más profundo
                que identifique mejores opciones de comercialización para Colombia, ya que ST`FRANCIS quiere incursionar
                en un país donde puede exportar para otros e igualmente producir en el mismo, y esta situación crearía
                una gran contribución para lo que sería la distribución de nuestro producto terminado puesto que el
                mismo tendría que estar tanto dentro de todo el país e igualmente en sus alrededores, y si se pensara en
                temas de baja producción dentro del mismo por temas climáticos, producción, desempleo entre otros
                factores no sería tan fácil hacer llegar este a la región en la que está agotado.

                <hr>
                <strong>EVOLUCIÓN DE LA BALANZA COMERCIAL con PAÍS 1</strong>
                <h6>GRÁFICAS O TABLAS</h6>
                <img class="rounded mx-auto d-block" width="300px"
                    src="../../images/entornoComercioInternacional/balanzaGuatemala.PNG" alt="">
                <hr>
                <strong>PRESENTACIÓN DE DATOS O INDICADORES</strong>
                <hr>
                En el 2019 Guatemala registró un déficit en su balanza comercial de un 11,38 de su PIB superior al 2018
                con un 9,78% del PIB.
                Pero Guatemala en los últimos años el déficit se ha incrementado tal como en el 2009 que fue de un 17,4%
                de su PIB.
                <hr>
                <strong>ANÁLISIS Y ARGUMENTACIÓN</strong>
                <hr>
                En cuanto a Guatemala, si Colombia le exporta el café de ST’FRANCIS le haríamos un daño tanto a nosotros
                como empresa como a ellos como país debido a que ellos primero deben aumentar sus exportaciones para que
                los productos no suban de precios y así evitar una presión inflacionaria, pero esto puede variar ya que
                es un comportamiento indefinido ya que como puede bajar las exportaciones en cualquier momento pueden
                volver a subir.
                <hr>
                <strong>ACUERDOS COMERCIALES VIGENTES</strong>
                <h6>GRÁFICAS O TABLAS</h6>

                <hr>
                <img class="rounded mx-auto d-block" width="300px"
                    src="../../images/entornoComercioInternacional/acuerdosGuatemala.PNG" alt="">
                <img class="rounded mx-auto d-block" width="300px"
                    src="../../images/entornoComercioInternacional/acuerdosGuatemala1.PNG" alt="">
                <hr>
                Guatemala es un país que registra un déficit comercial creciente, con exportaciones cercanas a US $11mil
                millones en 2017 e importaciones por US$18,3 mil millones. En el comercio de servicios también tiende al
                déficit, comparado con el tamaño de su economía, la relación de comercio exterior en el PIB es alta y en
                2017 cercana a 45,7% y registra un superávit de 1.5% del PIB.
                Colombia y los países del triángulo Norte de Centroamérica en el que se encuentra Guatemala iniciaron
                negociaciones para firmar un tratado de libre comercio que les permitiera a los cuatro países miembros
                mejorar las condiciones y hacer posible el acceso a sus mercados, aprovechar todo lo que complementaba
                sus economías y promover las inversiones mutuas. El 75% del sector industrial está cobijado en este
                tratado el cual permite el acceso para productos intermedios y materias primas industriales de origen
                colombiano a los países centroamericanos. El tema más sensible del tratado fue el agro, en este caso el
                72% de los productos agrícolas tendrán acceso preferencial en el tratado según los periodos de
                desgravación acordados para cada producto.
                <hr>
                <strong>ANÁLISIS Y ARGUMENTACIÓN</strong>
                <hr>
                ST´FRANCIS CAFË está directamente relacionado con este indicador de manera positiva, ya que el tratado
                induce a que sea un mercado propicio para que las PYMES inicien su proceso de internacionalización, así
                también sus barreras no arancelarias del mercado centroamericano no son tan rígidas como las de los
                países europeos o el territorio estadounidense; permite que haya una relación comercial sólida y así
                muchas empresas y productos colombianos como ST´FRANCIS CAFÉ ingresen y se mantengan dentro del mercado
                centroamericano.
                </p>


            </div>
            <div class="card-footer text-muted">
                <a href="#Inicio" class="btn btn-primary btn-block">Regresar</a>
            </div>
        </div>

        <div class="card text-center col-md">
            <div class="card-header">
                <img class="rounded mx-auto d-block" width="240px"
                    src="../../images/entornoComercioInternacional/banderaPeru.jpg" alt="">
            </div>
            <div class="card-body">


                <strong>INDICADOR DE DESEMPEÑO LOGISTICO</strong>
                <h6>GRÁFICAS O TABLAS</h6>
                <p class="card-text d-flex justify-content-start">
                <img class="rounded mx-auto d-block" width="300px"
                    src="../../images/entornoComercioInternacional/graficalogisticaPeru.PNG" alt="">
                <hr>
                <strong>PRESENTACIÓN DE DATOS O INDICADORES</strong>
                <hr>
                Con Perú para los dos últimos años, el LPI internacional comparó 160, como inputs de la cadena logística
                en general; y desempeño de la cadena de proveedores (puntualidad de entrega, rastreo y seguimiento, y
                facilidad para realizar envíos internacionales a precios competitivos). Alcanzar mayor eficiencia en la
                primera categoría es importante, en la medida que son estos los indicadores que definen directamente en
                el desempeño de toda la cadena logística.
                <hr>
                <strong>ANÁLISIS Y ARGUMENTACIÓN</strong>
                <hr>
                En este sentido Perú se corresponde con un mejor servicio logístico a comparación de Guatemala y más aún
                que es un vecino con Colombia se podría crear un corredor de negocios muy interesante que permita una
                agilidad mayor en los envíos para nuestro café. y a pesar de que Perú no está dentro de los 10 países
                con mejor desempeño logístico continua teniendo una gran calificación que contribuye de muy buena manera
                a la elección de expansión de ST`FRANCIS en este, debido a que la distribución del producto se notaría
                mucho más eficaz gracias a la eficacia con la que cuenta el país para esta variable, y es cierto que la
                producción del producto no se podría hacer en una zona muy central entonces sería muy conveniente contar
                con un buen canal de distribución.
                <hr>
                <strong>EVOLUCIÓN DE LA BALANZA COMERCIAL con PAÍS 2</strong>
                <h6>GRÁFICAS O TABLAS</h6>
                <img class="rounded mx-auto d-block" width="400px"
                    src="../../images/entornoComercioInternacional/balanzaPeru.PNG" alt="">
                <hr>
                <strong>PRESENTACIÓN DE DATOS O INDICADORES</strong>
                <hr>
                En Colombia se registró un déficit en la balanza comercial de 4,09% de su PIB superior al 2018 que fue
                2.86 del PIB.
                En Perú se registró un superávit en la balanza comercial de un 2,58% de su PIB inferior al superávit de
                2018 el 2,59 del PIB.

                <hr>
                <strong>ANÁLISIS Y ARGUMENTACIÓN</strong>
                <hr>
                Perú a comparación de Colombia esta mejor en su balanza económica debido a que alcanzó un superávit, y
                aunque sus importaciones subieron no superaron las exportaciones, por su parte Colombia ha ido
                desmejorando en comparación de años pasados como en el 2009 que tuvo un déficit.
                A Colombia le beneficia que ST’FRANCIS exporte su café, ya que así empezará a mejorar su balanza
                económica debido a que como es un producto tan natural y escaso de conseguir Perú entrará en un
                equilibrio donde mientras nosotros le exportamos y ellos exportan otros recursos a diferentes países y
                se daría ya una buena balanza comercial para ambos países.
                <hr>
                <strong>ACUERDOS COMERCIALES VIGENTES</strong>
                <h6>GRÁFICAS O TABLAS</h6>
                <hr>
                <img class="rounded mx-auto d-block" width="300px"
                    src="../../images/entornoComercioInternacional/acuerdosPeru.PNG" alt="">
                <img class="rounded mx-auto d-block" width="300px"
                    src="../../images/entornoComercioInternacional/acuerdosPeru1.PNG" alt="">
                <hr>
                <strong>PRESENTACIÓN DE DATOS O INDICADORES</strong>
                <hr>
                El acuerdo es un camino para mayores tasas de crecimiento, tuvo impacto para la llegada de nuevas
                inversiones, generación de empleos calificados y aumento de la cooperación para mejorar la
                competitividad de varios sectores productivos. En los últimos 10 años la unión europea aporto el 38% de
                las exportaciones mundiales de mercancías y el 37% de las importaciones en servicios, el 45% de las
                exportaciones globales, y el 42% de las importaciones, en flujos de exportación de capitales 48% del
                total. Este resultado se aprecia en la gráfica donde al pasar los años la UE sigue siendo el puntaje más
                alto y el desempeño notable en los últimos años en las exportaciones Colombianas seguido de estados
                unidos, es un acuerdo con gran importancia para Colombia ya que se puede lograr una relación
                preferencial y permanente con un actor clave en la economía mundial, ya que se considera como el primer
                exportador e importador mundial de bienes con cifras estimadas de US$2.349.849 millones como también
                ocupa el primer lugar en el mundo en compra y venta de servicios comerciales con montos de $US784.286 y
                US$ 644.360 millones en su orden.
                <hr>
                <strong>ANÁLISIS Y ARGUMENTACIÓN</strong>
                <hr>
                Una de sus ventajas más privilegiadas es que dentro de los productos que se encuentran en su sector
                principal de exportación es el café obteniendo una probabilidad alta de potenciar ventas en el país así
                mismo nos favorece en la reducción y eliminación de aranceles y barreras no arancelarias a las
                exportaciones de nuestro país, para que así se hagan más competitivos nuestros productos ya que incluyen
                los sectores industriales y agrícolas. Podemos utilizar estrategias de menores precios y mejores
                opciones de servicios en el primer mercado mundial y encaminar una internacionalización segura y constante.
                </p>

            </div>
            <div class="card-footer text-muted">
                <a href="#Inicio" class="btn btn-primary btn-block">Regresar</a>
            </div>
        </div>
    </div>


    <!--div class="jumbotron text-center" style="margin-bottom:0">
        <h4>CONCLUSIONES</h4>
        <br>
        <p>
          
        </p>
    </div-->

</body>

</html>