<!DOCTYPE html>
<html lang="en">

<head>
    <title>Web site</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



    <link rel="stylesheet" href="/node/pageSchool/public/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>
        .fakeimg {
            height: 200px;
            background: #aaa;
        
        }
    </style>
</head>

<body>

    <!--div class="jumbotron text-center" style="margin-bottom:0">
        <h1 id="Inicio">ALDEA GLOBAL II</h1>
        <p>INDICADORES ECONOMICOS</p>
    </div-->

    <%- include('partials/head.ejs')%>
    <div></div>
    <%- include('partials/nav.ejs')%>


    <div class="row">
        <div class="card text-center col-md">
            <div class="card-header">
                <img class="rounded mx-auto d-block" width="400px" src="images/banderaColombia.png" alt="">
            </div>
            <div class="card-body">
                <h5 class="card-title">Colombia</h5>
                <p class="card-text d-flex justify-content-start">
                    <strong>PIB per cápita (PPA):</strong>
                    <hr>
                    $ 14,400 (2017 est.)
                    $ 14,300 (2016 est.)
                    $ 14,200 (Est. 2015)
                    comparación de país con el
                    mundo: 116
                    (THE WORLD FACTBOOK,
                    2020)
                    Según el análisis cuantitativo
                    realizado de los últimos años
                    se logra evidenciar que
                    Colombia es el país con
                    mayor promedio en el PIB en
                    comparación a los países del
                    estudio presentado Colombia
                    conto con un PIB Per cápita
                    para el año 2017 de $ 14,400,
                    en comparación a los anteriores incremento
                    aproximadamente en 1% ,
                    sabemos que el crecimiento
                    del PIB es crucial para la
                    economía, ya que un aumento
                    del mismo refleja un
                    incremento en la economía y
                    si esta repunta estaríamos
                    haciendo honor a una de
                    nuestras variables que es el
                    desempleo, por ello esto
                    ayudaría a reducirlo y la renta
                    per cápita aumentaría, si estas
                    variaciones fueran para los
                    próximos años en alza
                    podríamos decir que el mejor
                    país para comercializar seria
                    Colombia debido a que sería
                    el país con mayor poder
                    adquisitivo y por ende el que
                    más podría demandar el producto, además de que no
                    tendríamos mayor gasto en
                    çtemas de distribución. la
                    producción del grano podría
                    verse afectada en caso de que
                    este indicador bajara, ya que
                    la adquisición de la materia
                    prima sería mucho más
                    complicada su consecución,
                    esto aplicaría no solo para
                    Colombia, si no para
                    Guatemala y Perú.
                    <hr>
                    <strong>Consumo</strong>
                    <hr>
                    consumo
                    doméstico: 68,2% (2017
                    est.)
                    consumo
                    gubernamental: 14.8% (2017
                    est.)

                    El gasto de los hogares parael 2019 tuvo muy buen
                    crecimiento y aportó más del
                    70% del crecimiento de toda la
                    economía.
                    El café hace parte de la
                    cultura colombiana. Del cultivo
                    del grano dependen cerca de
                    541.228 familias y
                    actualmente hay 853.809
                    hectáreas en el país. El
                    producto, primordial en la
                    economía nacional, también
                    hace parte de la dieta del
                    colombiano, y según la
                    Federación Nacional de
                    Cafeteros el consumo actual
                    de café está en 2,1 kilos per
                    cápita por año. La disminución
                    del consumo de café traería
                    pérdidas de producción, en
                    cualquier parte del mundo.

                    <hr>
                    <strong>Tasa de interés</strong>
                    <hr>
                    Se define una taza general de
                    interés del 2,55% una cifra
                    actualmente histórica ya que
                    en menos de un mes logro
                    una reducción de 0,50% de su
                    taza política monetaria dicha
                    cifra no se veía desde 2010 y
                    más aún cuando había
                    iniciado el año con un 4,25%
                    tal vez se puede denominar
                    como una causa del
                    Desempleo en Colombia que
                    aumentó a 19,8% durante abril
                    y mayo y esto nos lleva a un
                    dilema ¿Estimular la oferta o dinamizar la demanda? Que
                    nos ayudaría para equilibrar el
                    sistema para algunos es
                    reducir los costos de
                    producción y controlar los
                    salarios actualmente Colombia
                    necesita un crecimiento del
                    7% anual eso lo definen
                    indicadores como la
                    estabilidad y el crecimiento. La
                    disminución que se define
                    inicialmente es de cierta
                    manera beneficiosa para la
                    demanda del producto elegido
                    de ST’FRANCIS ya que si
                    esta no aumenta las personas
                    tendrán más posibilidad de
                    adquirirlo.

                    <hr>
                    <strong>Inflación</strong>
                    <hr>
                    La inflación que tuvo Colombia en este año fue baja, en mayó se registró un 0,16%, en donde los
                    alimentos y las bebidas no alcohólicas presentaron una variación mensual de 2,04%, ha sido una buena
                    noticia para Colombia ya que su inflación ha sido baja y estable, lo que permite a las empresas
                    operar y a los clientes comprar, ambas partes ganando, si la inflación llega a aumentar las empresas
                    se verán obligadas a destinar más recursos al manejo de su portafolio para evitar pérdidas
                    financieras.
                    (VALORA ANALITIK, 2020)
                    La ultima vez que Colombia registro en un mes una inflación de dos dígitos fue en el año 2000, y
                    desde entonces ha alcanzado cifras mínimas de 1.76% hasta el año 2013 (Dinero,2018). Si nos
                    referimos a la tendencia de esta cifra podemos deducir la estabilidad de un porcentaje en el año
                    actual del 3% según el gobierno y el Banco de la Republica, si se llegara a alcanzar una cifra por
                    debajo de la inflación meta seria beneficioso para los consumidores pero no para productores .
                    La venta del café en el país ha aumentado para beneficio de nuestra empresa, teniendo en cuenta que
                    el café hace parte de nuestra canasta familiar.


                    <hr>
                    <strong>Desempleo </strong>
                    <hr>
                </p>
                Esperamos del desempleo en Colombia a raíz del Covid 19 que el mercado laboral entrará en recesión,
                algunos analistas afirman que el país llegará a un 20% de desempleo en los próximos 2 meses.
                Actualmente el DANE anuncia una tasa de desempleo de 19,8% durante el mes de abril, con un aumento de
                9.5% respecto al mismo mes en el año anterior, siendo así que la tasa de desempleo cerró en 8.1%
                mientras que este año no ha culminado y tiene un incremento del 12%. (Portafolio,2020) Para el año 2018
                Colombia obtuvo un aumento en el desempleo de 9.8%, superior en 30 puntos a la del 2017 que fue de 9.4%,
                si bien estas cifras son preocupantes ya que actualmente van por encima del total sugerido por el
                gobierno para tener una economía sana y equilibrada.( (dinero.com, 2019)
                Para la empresa St. Francis Café hay factores positivos por causa de este indicador, uno de ellos que su
                origen es Colombiano y puede mejorar la calidad de vida de sus
                habitantes ofreciendo empleo incluyendo a la población que actualmente se encuentra vulnerable y en
                estado crítico como lo es la campesina, así podría sumar su participación en la economía del país, otro
                sería que los trabajadores estarán dispuestos a laborar eficazmente para mantener su empleo y que los
                bancos bajen sus tasas de interés para el mantenimiento de estos. Como factor negativo cuando hay
                presión en el aumento de los impuestos para subsidiar a la masa desempleada y que disminuya el gasto y
                consumo en la población.

            </div>
            <div class="card-footer text-muted">
                <a href="#Inicio" class="btn btn-primary btn-block">Regresar</a>
            </div>
        </div>
        <!--
    Guatemala
-->
        <div class="card text-center col-md">
            <div class="card-header">
                <img class="rounded mx-auto d-block" width="440px" src="images/banderaGuatemala.jpg" alt="">
            </div>
            <div class="card-body">
                <h5 class="card-title">Guatemala</h5>

                <p class="card-text d-flex justify-content-start">
                    <strong>PIB per cápita (PPA):</strong>
                    <hr>
                    $ 8,200 (2017 est.)
                    $ 8,100 (2016 est.)
                    $ 8,000 (Est. 2015)
                    comparación de país con el mundo: 150
                    (THE WORLD FACTBOOK, 2020)
                    Guatemala mostro una ubicación no tan prometedora para el PIB per capital del año 2017, este
                    demuestra una alza muy leve año a año pero que sin embargo es mucho más beneficioso que suba a que
                    baje, además de que si pensamos en la internacionalización de nuestro producto en dicho país esto
                    sería un gran reto para la organización debido a que Guatemala ha caracterizado el café como uno de
                    los productos principales para el sostenimiento de su economía y si llegase una empresa con un
                    producto que es de alto impacto para ellos generaría una competencia de gran potencial.
                    <hr>
                    <strong>Consumo</strong>
                    <hr>
                    consumo doméstico: 86,3% (2017 est.)
                    consumo gubernamental: 9.7% (2017 est.)

                    Guatemala tiene un consumo bajo de café por habitante, a pesar de estar entre los países calificados
                    con la mejor producción del grano en el mundo. (elPeriódico, 2017)
                    Según estadísticas de la Organización Internacional de Café (OIC), el país registró una tasa de
                    consumo de 1.27 kilogramos per cápita (2.20 libras) para 2016, esta es la segunda más baja de la
                    región, la primera la tuvo Panamá con un consumo de 1.04 kilogramos. Mientras que El Salvador y
                    Costa reportaron 2.7 respectivamente. En el sur, Brasil alcanzó los 5.9 kilogramos y Colombia 1.85.
                    <hr>
                    <strong>Tasa de interés</strong>
                    <hr>
                    Actualmente la Tasa de Política Monetaria es 1,75% en Guatemala esto en causa de que las
                    proyecciones de crecimiento continuaron cayendo y que los riesgos siguen a la baja, por los efectos
                    negativos del covid19, el Banco de Guatemala redujo la Tasa de 2% a 1,75%. Continuo a esto el Índice
                    Mensual de la Actividad Económica y las importaciones muestran un pare relevante, que ha sido
                    moderada, fue otro de los argumentos de los informes Guatemala es un importante proveedor de
                    productos y manufacturas para la economía en crecimiento y exportaciones de estos continuarán al
                    alza. La venta de café en Guatemala por parte de la organización ST`FRANCIS no tiene una ganancia
                    prometedora, ya que su tasa de interés está en un índice muy bajo, se podría decir que finalizando
                    esta contingencia si esta aumentara habría posibilidad de mejor expansión.
                    <hr>
                    <strong>Inflación</strong>
                    <hr>
                    El índice del mes de abril del año 2020 en Guatemala fue del 0.71% mensual, a diferencia de el año
                    pasado que en el mismo mes fue de un 1,88%, la pandemia ha influido en gran manera en estas
                    variaciones causando alza en el valor de alimentos y bebidas, lo cual no representa una amenaza
                    importante para el IPC. (IDE, 2020).
                    Teniendo en cuenta que Guatemala es un país exportador de café y su consumo interno no es muy alto,
                    nuestra empresa juega un papel importante en la innovación del procesamiento del café orgánico
                    ofreciendo al mercado guatemalteco calidad alta a un precio asequible. (VIVIRENN, 2020)
                    En el año 2019 el país registro una inflación de 1.35% con respecto al 2018 de 0.40% lo que
                    significa una aceleración en el indicador, es la cifra más alta registrada desde el año 2012 con
                    datos de 0.09% llevando así hasta el año 2016 registrando un aumento con 0.91%. (BANGUAT.GOB.GT,
                    2005)
                    <hr>
                    <strong>Desempleo</strong>
                    <hr>
                    A mediados de febrero el país presentaba el porcentaje más bajo de desempleo en toda América Latina
                    con un 2.5% según la Organización Internacional del Trabajo, al ser un país tan pobre y donde las
                    personas dejaron de buscar trabajo no registran en la categoría de desempleados, cuentan con un 70%
                    de habitantes con empleo informal y solo un 30% con un trabajo formal. (Barría, 2020), a raíz de
                    este resultado actualmente se registra un año de mejora en la calidad de empleo en el país, pero
                    lastimosamente no sobrepasa de un 0.25% en mejoría, en el año 2018 la cifre fue de un 2.8%
                    ligeramente superior a un 2.7% respecto al 2017.
                    Como resultado de la contingencia actual y el debido paro de las labores se perderían 555.060
                    empleos, y la caída de exportaciones se pretende en un 20% respecto al año anterior donde el país
                    perdería 376.160 puestos de trabajo (forbescentroamerica, 2020).
                    El café una de sus principales fuentes de ingresos, sus microclimas, la gran riqueza mineral de sus
                    suelos entre otras características en su territorio hace que su café sea único, pero por falta de
                    financiación del gobierno, políticas del país y falta de programas subsidiarios ha habido un gran
                    índice de desempleo desde años anteriores, un producto que no es sostenible se cierra y esto causo
                    despidos masivos en una nación afectando la economía del país. Es una gran competencia y se tomaría
                    el riesgo si St. Francis Café quiere incursionar en el mercado de Guatemala con su producto en temas
                    de calidad, pero en temas de percepciones de precio no hay mayor alcance exitoso por la poca equidad
                    que tiene el gobierno frente a la producción y comercialización del producto.


                </p>

            </div>
            <div class="card-footer text-muted">
                <a href="#Inicio" class="btn btn-primary btn-block">Regresar</a>
            </div>
        </div>

        <div class="card text-center col-md">
            <div class="card-header">
                <img class="rounded mx-auto d-block" width="400px" src="images/banderaPeru.png" alt="">
            </div>
            <div class="card-body">
                <h5 class="card-title">Peru</h5>
                <p class="card-text d-flex justify-content-start">
                    <strong>PIB per cápita (PPA):</strong>
                    <hr>
                    $ 13,500 (2017 est.)
                    $ 13,300 (2016 est.)
                    $ 13,000 (Est. 2015)
                    comparación de país con el mundo: 120
                    (THE WORLD FACTBOOK, 2020)
                    El PIB per capital para Perú demostró un aumento más acelerado en comparación a los países proyecto
                    de estudio, ya que es más notoria su alza cada año, igual continua siendo un país con una posición
                    bastante lejana que no demuestra mucho potencial para desarrollar una internacionalización en el
                    mismo, no obstante si este continuara con su tendencia al alza y se aumentara de una manera mucho
                    más rápida su PIB per capital el café tendría un gran potencial de venta allí ahora bien según el
                    Banco Mundial (BM) la proyección del crecimiento de la economía peruana para el 2020 preveía un
                    aumento pero como resultado de las medidas de emergencia que ha tenido que tomar el país para frenar
                    la propagación del COVID-19 se proyectó una caída drástica. Esta caída significa pérdidas para la
                    gran mayoría de las organizaciones del país, y no se podría esperar que una organización como ST
                    FRANCIS llegue a este país con la situación actual, porque inicialmente se buscaría personal para
                    temas de producción y con la pandemia nadie podría laborar. (Banco Mundial, 2020)

                    <hr>
                    <strong>Consumo</strong>
                    <hr>

                    consumo doméstico: 64,9% (2017 est.)
                    consumo gubernamental: 11.7% (2017 est.)

                    El consumo en Perú, se ve influenciado respecto al nivel socio económico al cual se pertenece, este
                    se puede ver afectado por los bajos ingresos, falta de información, barreras sociales y el ambiente
                    doméstico.
                    En el Perú se consume 733 gramos de café al año; un estudio de Kantar División Worldpanel, permitió
                    conocer que los peruanos toman 40 tazas de café al año, es decir, unas tres tazas al mes. Sin
                    embargo, 8 de cada 10 tazas son café soluble y el resto es molido o tostado.
                    (Kantar Division Worldp, 2019)

                    <hr>
                    <strong>Tasa de interés</strong>
                    <hr>
                    El Banco Central de Perú fijo su tasa de interés de referencia a su mínimo nivel histórico de un
                    0,25%, desde un 1,25%, en medio del coronavirus en la economía del país. Es la segunda baja de la
                    tasa de interés en menos de un mes, es la tasa clave en Perú esta es la más baja entre los países
                    emergentes la economía del país minero se encuentra muy afectada de manera temporal por choques de
                    oferta y demanda. Entre 2014 y 2019, la economía se desaceleró un promedio de 3.1%, sobre todo a
                    causa de las materias primas. Esto generó una caída de la inversión privada y genero menores
                    ingresos fiscales. En este caso peru podría ser el país con menor potencial para decidir una
                    expansión en este, a pesar de que anteriormente tubo buenos promedios, hoy día está quedando muy
                    debajo de la tabla con el impacto de la pandemia.

                    <hr>
                    <strong>Inflación</strong>
                    <hr>
                    La inflación de Perú en marzo del 2020 ha sido de un 0,6%, y para el primer trimestre de este año
                    fue un total de 0.84%, entre “las divisiones que presentaron mayores alzas en enero están alimentos
                    y bebidas no alcohólicas (1,0%), con 0,202 puntos porcentuales, y transporte (1,1%), con 0,147. El
                    rango meta de la inflación anual del banco central está entre 1% y 3%, el 2019 cerró con un
                    porcentaje de 1.90% recuperándose en el año actual, el año anterior se incrementó a un 2.19% pero
                    siendo inferior el año 2017 cuando fue de 1.36%. (EL PERUANO, 2020).Nuestra empresa se beneficia al
                    presenciar un alza en los precios, aunque esto disminuye el poder de compra. en chile la inflación
                    es factible y estable ya que no se había presentado una variación tan alta desde enero de 1998
                    cuando fue de 0,7%, esto garantiza la estabilidad del balance mutuo cliente-empresa

                    <hr>
                    <strong>Desempleo </strong>
                    <hr>
                    En este país se afectaron todas las ramas de actividad económica en su capital, como resultado 1.2
                    millones de personas que perdieron su empleo reduciéndose en un 25% la población ocupada con
                    respecto al año anterior. Su tasa de desempleo en el país es de 13.1% comparado al año anterior
                    siendo de 9%, durante el primer trimestre del 2018 la tasa ascendió a un 8.1% donde había sido el
                    puntaje más alto desde el año 2012. (elcomercio.pe, 2020)
                    (CNN Español, 2018)
                    El país es el segundo exportador de café orgánico y el séptimo país exportador de café a nivel
                    mundial, 2 millones de peruanos dependen de esta actividad y con la situación de la pandemia y altos
                    índices de desempleo se podrían ver afectadas 223.482 familias que están involucradas en la
                    producción de café, para la empresa podría ser beneficioso comercializar el café en el país creando
                    una estrategia de marketing con una percepción de precio más barato, pero sería difícil entrar en el
                    mercado actualmente en un país que busca reactivar su economía nacional y bajar el índice de
                    desempleo en sus habitantes, específicamente en la industria agrícol


                </p>

            </div>
            <div class="card-footer text-muted">
                <a href="#Inicio" class="btn btn-primary btn-block">Regresar</a>
            </div>
        </div>
    </div>
    <div class="card" style="width: 100%;">
       
        <div class="card-body">            
            <p class="card-text">
                <div class="row">
                    <div class="col-md-5">
                        <img class="rounded mx-auto d-block" width="400px" src="images/clone.png">
                        
                    </div>
                    <div class="col-md-7">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="video/XiaoYing_Video_1596158462046.mp4" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </p>            
        </div>
    </div>


    <div class="jumbotron text-center" style="margin-bottom:0; background-color: rgb(202, 136, 98);">
        <h4>CONCLUSIONES</h4>
        <br>
        <p>
            Para un país el PIB per capital es un indicador que genera gran impacto, por ende no se podía pasar por alto
            el análisis del mismo, además de que este nos brindó herramientas de gran importancia para la elección de
            los países donde se desarrollara la internacionalización de la organización.

            Del análisis realizado se puede observar que la inflación presenta variaciones pero estas son controlables
            así que nuestra venta de café no disminuirá ya que en Colombia son parte de la canasta familiar y en países
            como Guatemala y Peru aunque son exportadores de café se podrán introducir en el mercado con posibilidades
            de ganancia ofreciendo un café totalmente orgánico y de alta calidad a precios asequibles

            En el PIB se resalta la importancia tanto económica como social que contribuye la caficultura, ya que no
            solo genera ingresos para una parte muy importante de la población sino que también sostiene el desarrollo
            rural reduciendo la pobreza y promoviendo a que el campo sea una herramienta estratégica donde hay grandes
            oportunidades.
            La pobreza existente en el mundo impide que millones de personas satisfagan sus necesidades y contribuyan a
            un indicador como el consumo, el crecimiento de la población ha ido disminuyendo y los cambios climáticos y
            ambientales son un medio por el que se puede afectar el abastecimiento de la demanda del café.
            La baja productividad en los últimos años se ha dado por causas internas de los países analizados, el café
            es un producto clave para la competitividad de cada uno de estos pero los precios desfavorables afectan
            cualquier institucionalidad en los sectores productores de cada uno, esta falta de apoyo del gobierno con
            las medidas de cultivo afecta directamente a la sociedad agricultora que obtiene el sustento de grandes
            familias con dicha labor, al igual que el equilibrio de la economía reflejando un mal y poco efectivo uso de
            las herramientas para la producción, promoción y distribución del producto como la innovación.
        </p>
    </div>

</body>

</html>