<!DOCTYPE html>
<html lang="en">

<head>
    <title>Web site</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



    <link rel="stylesheet" href="/node/pageSchool/public/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>
        .fakeimg {
            height: 200px;
            background: #aaa;

        }
    </style>
</head>

<body>

    <!--div class="jumbotron text-center" style="margin-bottom:0">
        <h1 id="Inicio">ALDEA GLOBAL II</h1>
        <p>INDICADORES ECONOMICOS</p>
    </div-->

    <%- include('partials/head.ejs')%>
    <div></div>
    <%- include('partials/nav.ejs')%>


    <div id="Inicio" class="row">
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <p class="card-text container">
                    Product development/adjustment
                    St Francis café comercializa granos de café verde tostado y molido 100% de arábica colombiana de
                    alta calidad, las necesidades que satisface a los consumidores se reducen en degustar un producto
                    colombiano con diversidad de sabores, orgánico libre de sustancias químicas nocivas para el cuerpo y
                    amigable con el medio ambiente generando el gusto por saber el origen del grano y de quienes lo
                    cultivan. su valor agregado consiste en su máxima prioridad a través de un cuidado excepcional,
                    conciencia ambiental y diligencia, se apoya totalmente a familias caficultoras comprando su grano y
                    no a cooperativas, obtienen sus propias curvas de tostion patentadas y tres tostadoras únicas de su
                    tipo en Colombia, se trabaja para fortalecer el amor por su origen y por cada una de las familias
                    que hacen posible la existencia del producto.
                    <hr>
                    <strong class="d-flex justify-content-center">ESTRATEGIA DE INTERNACIONALIZACIÓN</strong>
                    <br>
                <p class="card-text container">
                    Nuestro proceso de internacionalización se basará teniendo aspectos fundamentales como el tiempo, en
                    el que planearemos todo a corto, mediano y largo plazo y así poder tener éxito incursionando en este
                    país, con menor riesgos de perdidas.
                    Corto plazo: nuestra empresa Saint Francis Café empezará su proceso de internacionalización con
                    analistas de mercado que vivan específicamente en Perú contratados directamente por la empresa para
                    que estudien todos los entornos que pueden llegar a generar impactos negativos para la empresa o que
                    nos beneficien, haciendo así un estudio de mercadeo de clientes potenciales como número de
                    supermercados, empresas grandes, concesionarios de carros para el transporte de producto,
                    supermercados de cadena, tiendas de barrio, y coworking, en consecuencia estaremos conociendo el
                    mercado para saber con qué clientes debemos aliarnos, además, se generará un estudio político en el
                    cual se realizarán todos los procesos donde los vendedores trabajando en un tiempo estipulado de 6
                    meses a 1 año, generen en promedio, alrededor de 200 clientes fijos.
                    Mediano plazo: una vez que nuestro producto ya esté radicado y nuestra empresa esté más establecida
                    ya podremos crear una planta en la que importaremos café colombiano a perú, luego lo procesaremos
                    con el trillado, tostado y empaquetado y procederemos a distribuir nuestro producto en el cual
                    tendremos canales directos e indirectos contando con agentes, minoristas, mayoristas y detallistas
                    creando así una red de distribución más extensa.
                    Largo plazo: una vez que nuestra empresa este en su auge y este mas posicionada en el país, pensamos
                    empezar no solo a procesar el café colombiano, sino también café peruano, ya que contamos con la
                    ventaja de una tecnología de punta mas avanzada para el procesamiento de trillado, tostado y
                    empaquetado a diferencia de Perú.
                </p>
                <hr>
                <strong class="d-flex justify-content-center">PROMOTION</strong>
                <br>
                <p class="card-text container">

                    Con el marketing digital a favor se logra acercar al cliente a la historia y los beneficios del
                    producto
                    que están consumiendo, añadir información nutricional en los empaques del mismo, así ilustramos un
                    poco
                    de la tendencia saludable que hay actualmente, el voz a voz es la estrategia que más impacta en
                    todas
                    las segmentaciones de clientes que obtenemos, los jóvenes de 25 a 45 años desean ser contactados por
                    redes sociales y páginas web, por ello la empresa toma la decisión de promocionar sus productos por
                    redes sociales y demás plataformas digitales.

                </p>
                <hr>
                <strong class="d-flex justify-content-center">PRICING</strong>
                <br>
                <p class="card-text container">
                    Se adecua un precio que pueda ser accesible para todos los estratos socioeconómicos ya que
                    ST`FRANCIS como principal enfoque para su producción predomina la inclusión para toda la población,
                    además que es un producto de alto consumo debe adecuase a las necesidad y estratos de la gran
                    mayoría de la población, de acuerdo al volumen y peso se les da cierto precio.

                </p>
                <hr>
                <div class="row">
                    <div class="col-md-6" style="top: 60px;">
                        <img class="rounded float-right" width="500px" src="images/new/1.jpeg" alt="">
                    </div>
                    <div class="col-md-6">
                        <img class="rounded float-left" width="500px" src="images/new/2.jpeg" alt="">
                    </div>
                </div>
                </p>
            </div>
        </div>
    </div>


</body>

</html>